{% if history_tasks is defined and history_tasks|length > 0 %}
<table class="responsive-table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Started at</th>
        <th>Completed at</th>
        <th>Duration (<abbr>s</abbr>)</th>
        <th>Errors</th>
      </tr>
    </thead>
    <tbody>
    {% for h in history_tasks %}
        {% if h['status'] in [0, 1] %}
    <tr>
      <td>
        {% if h['status'] == 0 %}
        <i class="icons">done</i>
        {% else %}
        <i class="icons">error</i>
        {% endif %}
      </td>
      <td>{{ h['execution_request']['tracking']['started_at'] }}</td>
      <td>{{ h['execution_request']['tracking']['finished_at'] }}</td>
      <td>{{ h['execution_request']['tracking']['duration']|round(3) }}</td>
      <td>
        {% if h['status'] != 0 %}
        <ul>
          {% for message in h['errors'] %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% else %}
        None
        {% endif %}
      </td>
    </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data</p>
{% endif %}
