{% if saved_tasks %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Host</th>
        <th>Table</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for mytask in saved_tasks %}
    <tr>
        <td>{{ mytask['name'] }}</td>
        <td>{{ mytask['hostname'] }}</td>
        <td>{{ mytask['table'] }}</td>
        <td class="flex">
            <form id="{{ mytask['name'] }}-send" method="post" action="execute/{{ mytask['name'] }}">
                <button name="location" class="icons">send</button>
                <input type="hidden" name="task" value="{{ mytask['name'] }}">
                <input type="hidden" name="host" value="{{ mytask['hostname'] }}">
            </form>
            <form id="{{ mytask['name'] }}-info" method="get" action="details/{{ mytask['name'] }}">
                <button class="icons">info</button>
            </form>
            <form id="{{ mytask['name'] }}-delete" method="post" action="delete/{{ mytask['name'] }}">
                <button name="location" class="icons">delete forever</button>
                <input type="hidden" name="task" value="{{ mytask['name'] }}">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data</p>
{% endif %}
