{% if tasks %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Table</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr id="{{ task.name }}">
                    <td>{{ task.name }}</td>
                    <td>{{ task.hostname }}</td>
                    <td>{{ task.table }}</td>
                    {% include "tasks/partials/saved-tasks-actions-column.html" %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data</p>
{% endif %}
