{% extends "base.html" %}
{% block style %}
    <style>
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        button[disabled] .icons {
            display: inline-block;
            animation: spin 3s linear infinite;
        }
    </style>
    <link rel="stylesheet"
          href="{{ url_for('static', path='/css/react-table-style.css') }}">
{% endblock style %}
{% block main %}
    <script crossorigin
            src="{{ url_for('static', path='/js/react/react.production.min.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script crossorigin
            src="{{ url_for('static', path='/js/react/react-dom.production.min.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/react/axios.min.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/react/babel.min.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/react/react-table.production.min.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/react/prism.min.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/react/prism-sql.min.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <!-- {% include "inventory/partials/breadcrumb.html" %} -->
    <br>
    <!-- {% block inventory_table %}
    {% endblock inventory_table %} -->
    <div id="inventory-container"></div>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/data-table.react.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/sync-btn.react.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/node-list.react.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/service-list.react.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/schema-list.react.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/table-list.react.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/inventory.react.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel" nonce="{{ request.state.csp_nonce }}">
        const container = document.getElementById('inventory-container');
        ReactDOM.render(<Inventory />, container)
    </script>
{% endblock main %}
