{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
{% extends "base.html.j2" %}
{% block style %}
    <style>
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        button.sync-button-main[disabled] .material-symbols-outlined {
            display: inline-block;
            animation: spin 3s linear infinite;
        }
    </style>
{% endblock style %}
{% block behaviours %}
    {% if sync_is_running %}
        <script nonce="{{ request.state.csp_nonce }}">
        setTimeout(function(){
            window.location.reload();
        }, {{ sync_refresh_time|default(5, true) * 1000}});
        </script>
    {% endif %}
{% endblock behaviours %}
{% block main %}
    {% include "inventory/partials/breadcrumb.html.j2" %}
    <br>
    {% block inventory_entity_details %}
    {% endblock inventory_entity_details %}
    <br>
    {% block inventory_table %}
    {% endblock inventory_table %}
    <br>
{% endblock main %}
