{% extends "base.html" %}
{% block style %}
    <style>
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        button[disabled] .icons {
            display: inline-block;
            animation: spin 3s linear infinite;
        }
    </style>
    <link rel="stylesheet"
          href="{{ url_for('static', path='/css/react-table-style.css') }}">
{% endblock style %}
{% block main %}
    <script crossorigin
            src="https://unpkg.com/react@17/umd/react.production.min.js"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script crossorigin
            src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src=" https://unpkg.com/react-table@7.8.0/dist/react-table.development.js"
            nonce="{{ request.state.csp_nonce }}"></script>
    <!-- {% include "inventory/partials/breadcrumb.html" %} -->
    <br>
    <!-- {% block inventory_table %}
    {% endblock inventory_table %} -->
    <div id="inventory-container"></div>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/data-table.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/node-list.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/service-list.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/schema-list.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/table-list.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel"
            src="{{ url_for('static', path='/js/react/inventory.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script type="text/babel" nonce="{{ request.state.csp_nonce }}">
        const container = document.getElementById('inventory-container');
        ReactDOM.render(<Inventory />, container)
    </script>
{% endblock main %}
