{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
{% extends "inventory/base-inventory.html.j2" %}
{% block title -%}
    Node List
{%- endblock title %}
{% block inventory_table %}
    {% with inventory_table_title = "Node List", inventory_sync_route = "/inventory/sync/" %}
        {% include "inventory/partials/sync-button.html.j2" %}
    {% endwith %}
    {% include "inventory/partials/sync-status.html.j2" %}
    <br>
    <table data-table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Type</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for node in inventory %}
                <tr>
                    <td>
                        <a href="{{ node.id }}">{{ node.name }}</a>
                    </td>
                    <td>{{ node.address }}</td>
                    <td>{{ node.type }}</td>
                    <td>
                        {% if node.source %}
                            {{ node.source }}
                            {% if node.external_id %}
                                (
                                {{ node.external_id }})
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ node.id }}/delete"
                              method="post"
                              style="display:inline"
                              class="confirmable-form"
                              data-confirm-message="Are you sure you want to delete node {{ node.name }} (#{{ node.id }})?">
                            {#                    TODO: Fix button clickable size #}
                            <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
                            <button name="location" class="icons submitButton">
                                <span class="material-symbols-outlined">delete_forever</span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock inventory_table %}
{% block inventory_create %}
    <h3>Add a New Node</h3>
    {% include "inventory/partials/node-create-form.html.j2" %}
{% endblock inventory_create %}
