{% extends "base.html" %}

{% block title %}Node List{% endblock %}

{% block main %}
<h2>Node List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Type</th>
            <th>Source</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for node in inventory %}
        <tr>
            <td>{{ node.id }}</td>
            <td><a href="{{ node.id }}">{{ node.name }}</a></td>
            <td>{{ node.address }}</td>
            <td>{{ node.type }}</td>
            <td>{% if node.source %}{{ node.source }}{% if node.external_id %} ({{ node.external_id }}){% endif %}{% endif %}</td>
            <td>
                <form action="{{ node.id }}/delete" method="post" style="display:inline;">
                    <button name="location" class="icons" style="width: 2em">delete forever</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Add a New Node</h3>
{% include "inventory/partials/node-create-form.html" %}
{% endblock %}
