<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    .create_statement, .keys {
      width: 35%;
      word-wrap: break-word;
    }

    td, th {
      width: auto;
    }
  </style>
{% extends "inventory/base-inventory.html" %}

{% block title %}Schema {{ schema.name }} ({{ schema.service_id }}){% endblock %}

{% block inventory_entity_details %}
{% with inventory_table_title = "Schema Details", inventory_sync_route = "/inventory/schemas/" ~  schema.id ~ "/sync/" %}
    {% include "inventory/partials/sync-button.html" %}
{% endwith %}
<dl>
    <dt>ID</dt>
    <dd>{{ schema.id }}</dd>
    <dt>Name</dt>
    <dd>{{ schema.name }}</dd>
    <dt>Service ID</dt>
    <dd>{{ schema.service_id }}</dd>
</dl>
{% endblock %}

{% block inventory_table %}
<h3>Tables in this Schema</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="create_statement">Create Statement</th>
            <th class="keys">Keys</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for table in schema.tables %}
        <tr>
            <td>{{ table.id }}</td>
            <td>{{ table.name }}</td>
            <td class="create_statement">{{ table.create }}</td>
            <td>{{ table.keys }}</td>
            <td>
                <form action="/inventory/tables/{{ table.id }}/delete" method="post" style="display:inline;">
                    <button name="location" class="icons" style="width: 2em">delete forever</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block inventory_create %}
<h3>Add a New Table</h3>
{% include "inventory/partials/table-create-form.html" %}
{% endblock %}
