{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
{% extends "inventory/base-inventory.html.j2" %}
{% block title -%}
    Service {{ service.name }} ({{ service.node_id }})
{%- endblock title %}
{% block inventory_entity_details %}
    {% with inventory_table_title = "Service Details", inventory_sync_route = "/inventory/services/" ~ service.id ~ "/sync/" %}
        {% include "inventory/partials/sync-button.html.j2" %}
    {% endwith %}
    <dl>
        <dt>Name</dt>
        <dd>
            {{ service.name }}
        </dd>
        <dt>Type</dt>
        <dd>
            {{ service.type }}
        </dd>
        {% if service.node.source %}
            <dt>Source</dt>
            <dd>
                {{ service.node.source }}
            </dd>
        {% endif %}
        {% if service.external_id %}
            <dt>External ID</dt>
            <dd>
                {{ service.external_id }}
            </dd>
        {% endif %}
        <dt>Port</dt>
        <dd>
            {{ service.port }}
        </dd>
        {% if service.environment %}
            <dt>Environment</dt>
            <dd>
                {{ service.environment }}
            </dd>
        {% endif %}
        {% if service.cluster %}
            <dt>Cluster</dt>
            <dd>
                {{ service.cluster }}
            </dd>
        {% endif %}
        {% if service.replication_set %}
            <dt>Replication Set</dt>
            <dd>
                {{ service.replication_set }}
            </dd>
        {% endif %}
        {% if service.custom_labels %}
            <dt>Custom Labels</dt>
            <dd>
                {% for key, value in service.custom_labels.items() %}<span class="label">{{ key }}: {{ value }}</span>{% endfor %}
            </dd>
        {% endif %}
    </dl>
    <hr>
{% endblock inventory_entity_details %}
{% block inventory_table %}
    <h3>Schemas in this Service</h3>
    <table data-table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for schema in service.schemas %}
                <tr>
                    <td>
                        <a href="{{ url_for('schema_detail', schema_id=schema.id) }}">{{ schema.name }}</a>
                    </td>
                    <td>
                        <form action="{{ url_for('schema_delete', schema_id=schema.id) }}"
                              method="post"
                              style="display:inline"
                              class="confirmable-form"
                              data-confirm-message="Are you sure you want to delete schema '{{ schema.name }}' (#{{ schema.id }})?">
                            <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
                            <button name="location" class="icons submitButton">delete forever</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock inventory_table %}
{% block inventory_create %}
    <h3>Add a New Schema</h3>
    {% include "inventory/partials/schema-create-form.html.j2" %}
{% endblock inventory_create %}
