{% block sidebar %}
    <nav class="sidebar"
         aria-label="App's sidebar menu with navigation onto its main features">
        <ul role="menu">
            <li role="none">
                <a href="{{ url_for('read_root') }}" class="list-item" role="menuitem">
                    <span class="material-symbols-outlined">dashboard</span>
                    <span class="label">Home Dashboard</span>
                </a>
            </li>
            {% for plugin in plugins %}
                <li role="none">
                    <a href="{{ plugin.uri_path }}/"
                       class="list-item {{ plugin.css_class }}"
                       role="menuitem">
                        <span class="icon" title="{{ plugin.name }}"></span>
                        <span class="label">{{ plugin.name }}</span>
                    </a>
                </li>
            {% endfor %}
            {% if pmm_url %}
                <li role="none">
                    <a href="{{ pmm_url }}"
                       class="list-item pmm"
                       role="menuitem"
                       target="_blank">
                        <span class="material-symbols-outlined">view_quilt</span>
                        <span class="label">PMM</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <footer>
            <ul role="menu">
                <li role="none">Percona Services Enablement Platform v0.4.0-beta</li>
                <li role="none">
                    <a href="https://percona.com" class="link" target="_blank">
                        <span class="material-symbols-outlined">book_2</span>
                        <span class="label">Documentation</span>
                    </a>
                </li>
                <li role="none">
                    <a href="https://github.com/percona/SEP" class="link" target="_blank">
                        <svg viewBox="0 0 96 96">
                            <title>Github</title>
                            <use xlink:href="#githubLogo" />
                        </svg>
                        <span class="label">Github</span>
                    </a>
                </li>
                <li role="none">©2025 Percona LLC</li>
            </ul>
        </footer>
    </nav>
{% endblock sidebar %}
