{% block sidebar %}
    <nav class="sidebar" id="sep">
        <ul>
            {% if user.is_admin %}
                <li class="casdoor sidebar-button">
                    <a href="{{ casdoor_url }}" target="_blank">Casdoor</a>
                </li>
            {% endif %}
            {% for plugin in plugins %}
                <li class="{{ plugin.css_class }} sidebar-button">
                    <a href="{{ plugin.uri_path }}/">{{ plugin.name }}</a>
                </li>
            {% endfor %}
            <li class="signout sidebar-button">
                <a href="#" class="submitNextForm">Sign out</a>
                <form action="{{ url_for('logout') }}"
                      method="post"
                      style="display:none"
                      id="logoutForm">
                    <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
                </form>
            </li>
        </ul>
    </nav>
{% endblock sidebar %}
