# TODO: we will define the menu programmatically
{% block sidebar %}
{% set user = data.get("user") %}
{% set casdoor_login_url = data.get("casdoor_login_url", "#") %}
<nav class="sidebar" id="sep">
    <ul>
        {% if isinstance(user, dict) and user["isAdmin"] %}
        <li class="casdoor"><a href="{{ casdoor_login_url.scheme }}://{{ casdoor_login_url.netloc }}">Casdoor</a></li>
        {% end %}
        <li class="backup"><a href="/mysql_backups/">MySQL Backups</a></li>
        <li class="alters"><a href="/alters/">Schema Change</a></li>
        <li class="archive"><a href="/archiver/">Data Archiver</a></li>
        <li class="tasks"><a href="/tasks/">Task Manager</a></li>
        <li class="signout"><a href="/api/signout">Sign out</a></li>
    </ul>
</nav>
{% end %}
