{% extends "base.html" %}
{% block title -%}
PBM Backups
{%- endblock title %}
{% block style %}
{% if history_tasks or running_tasks %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/logs.css') }}">
{% endif %}
{% if tasks %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/saved.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/scheduled.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/select2.min.css') }}">
{% endif %}
{% endblock style %}
{% block behaviours_optimized_extra %}
<script src="{{ url_for('static', path='/js/relativeTime.js') }}" nonce="{{ request.state.csp_nonce }}"></script>
{% if history_tasks or running_tasks %}
<script src="{{ url_for('static', path='/js/logs.js') }}" nonce="{{ request.state.csp_nonce }}"></script>
{% endif %}
{% if tasks %}
<script nonce="{{ request.state.csp_nonce }}">
    const taskNames = {{ tasks| map(attribute = 'name') | list | tojson }};
    const availableTimezones = {{ AVAILABLE_TIMEZONES| tojson }};
</script>
<script src="{{ url_for('static', path='/js/cronstrue.min.js') }}" nonce="{{ request.state.csp_nonce }}"></script>
<script src="{{ url_for('static', path='/js/select2.min.js') }}" nonce="{{ request.state.csp_nonce }}"></script>
<script src="{{ url_for('static', path='/js/saved.js') }}" nonce="{{ request.state.csp_nonce }}"></script>
<script src="{{ url_for('static', path='/js/scheduled.js') }}" nonce="{{ request.state.csp_nonce }}"></script>
{% endif %}
{% endblock behaviours_optimized_extra %}
{% block main %}
<p>
    Generate a <a href="https://github.com/percona/percona-backup-mongodb">PBM</a> MongoDB backup, currently only
    supporting Logical, Physical and Snapshot methods.
</p>

<h3>Create a backup process</h3>
<script src="{{ url_for('static', path='/plugins/backup_mongo/bundle.js') }}" nonce="{{ request.state.csp_nonce }}"></script>
<div id="mongodb_backups"></div>
    </section>
    <section id="pending-tasks">
        <h2>Pending</h2>

    </section>
    <section id="completed-tasks">
        <h2>History</h2>

    </section>
    {% endblock main %}