{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
<style>
    fieldset {
        width: 95%;
        justify-content: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0.5em;
    }

    .field {
        flex: 0 0 48%;
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        align-items: center;
    }

    fieldset:has(> .field:nth-of-type(1):nth-last-of-type(1))>.field {
        flex: 0 0 48%;
    }

    .field label {
        width: 135px;
        margin-right: 10px;
    }

    .field input,
    .field select {
        flex: 1;
    }

    label+select,
    label+input {
        vertical-align: middle;
        margin-right: 0px;
    }

    label:has(+ select),
    label:has(+ input) {
        display: inline-flex;
        align-items: center;
        margin-right: 0px !important;
        width: 130px;
    }

    input[type="checkbox"] {
        flex: none;
        margin-right: 0.5em;
    }

    fieldset + fieldset {
        margin: 1em 0;
    }
    fieldset > * {
        margin: 0.25em 0 1em;
    }
    select {
        min-width: 200px;
    }
</style>
<form id="edit-task-form"
      class="edit-task-form window"
      method="post"
      action="{{ url_for('checksums_update', task_name=task.name) }}"
      data-confirm-message='Are you sure you want to edit task "{{ task.name }}"?'>
    <dialog id="modalEditTask"
            aria-modal="true"
            aria-labelledby="modalEditTaskTitle"
            data-modal="target"
            class="large">
        <header>
            <h3 id="modalEditTaskTitle" class="h5 title">Edit task</h3>
        </header>
        <section>
            <p>
                You are about to edit the task <strong id="modalTaskName"></strong>.
            </p>
            <div>
                <fieldset>
                    <legend style="margin-bottom: 0.8em;">Main options</legend>
                    <fieldset>
                        <legend>Executor Host</legend>
                        <div class="select">
                            {% set hostname_title = "Select the hostname of the target system for task execution." %}
                            <label for="hostname" title="{{ hostname_title }}">
                                <span class="material-symbols-outlined">arrow_drop_down</span>
                                <span class="label">Select host</span>
                                {% if executor_hosts|length == 1 %}
                                    {% set single_host = executor_hosts[0] %}
                                    <select id="hostname" name="hostname" title="{{ hostname_title }}" disabled>
                                        <option value="{{ single_host.value }}" selected>{{ single_host.label }}</option>
                                    </select>
                                    <input type="hidden" name="hostname" value="{{ single_host.value }}">
                                {% else %}
                                    <select id="hostname" name="hostname" title="{{ hostname_title }}">
                                        {% for host in executor_hosts %}
                                            <option value="{{ host.value }}"
                                                    {% if host.value == task['hostname'] %}selected{% endif %}>
                                                {{ host.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Checksum details</legend>
                        <div class="field">
                            {% set task_name_title = "Type the name of task to be created." %}
                            <label for="task_name" title="{{ task_name_title }}">Task name</label>
                            <input type="text"
                                   id="task_name"
                                   name="task_name"
                                   class="validate"
                                   required
                                   title="{{ task_name_title }}"
                                   value="{{ task.name }}"
                                   placeholder="Enter a unique task name">
                        </div>
                        <div class="select">
                            {% set service_id_title = "Select the database host from the inventory to connect to." %}
                            <label for="service_id" title="{{ service_id_title }}">
                                <span class="material-symbols-outlined">arrow_drop_down</span>
                                <span class="label">Database host</span>
                                {% if services|length > 0 %}
                                    {% set matched_service_list = [] %}
                                    {% for service in services %}
                                        {% if task["service_host"] == service.node.address and task["service_port"] == service.port %}
                                            {% do matched_service_list.append(1) %}
                                        {% endif %}
                                    {% endfor %}
                                    <select id="service_id"
                                            name="service_id"
                                            title="{{ service_id_title }}"
                                            required>
                                        <option value=""
                                                {% if matched_service_list|length > 0 %}{% else %}selected{% endif %}>
                                            Select a database host
                                        </option>
                                        {% if matched_service_list|length == 0 %}
                                            <option value="-1" selected>Unknown({{ task["service_host"] }}:{{ task["service_port"] }})</option>
                                        {% endif %}
                                        {% for service in services %}
                                            {% set is_selected = task["service_host"] == service.node.address and task["service_port"] == service.port %}
                                            <option value="{{ service.id }}" {% if is_selected %}selected{% endif %}>
                                                {{ service.name }} ({{ service.node_id }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </label>
                        </div>
                    </fieldset>
                    <fieldset style="margin-bottom: 0;">
                        <legend>Data</legend>
                        <div class="select">
                            {% set schema_id_title = "Select the database schema on which the task will operate." %}
                            <label for="schema_id" title="{{ schema_id_title }}">
                                <span class="material-symbols-outlined">arrow_drop_down</span>
                                <span class="label">Schema</span>
                                <select id="schema_id"
                                        name="schema_id"
                                        title="{{ schema_id_title }}"
                                        disabled></select>
                            </label>
                        </div>
                        <div class="select">
                            {% set schema_id_title = "Select the table within the schema to be altered." %}
                            <label for="table_id" title="{{ schema_id_title }}">
                                <span class="material-symbols-outlined">arrow_drop_down</span>
                                <span class="label">Table</span>
                                <select id="table_id" name="table_id" title="{{ schema_id_title }}" disabled></select>
                            </label>
                        </div>
                        {% set extra_args_title = "Type optional additional arguments for the checksum task." %}
                        <label for="extra_args" title="{{ extra_args_title }}">
                            Extra args
                            <input type="text"
                                   id="extra_args"
                                   name="extra_args"
                                   class="validate"
                                   value="{{ task.extra_args }}"
                                   placeholder="--databases=db1,db2 --tables=db1.tb1,db1.tb2"
                                   style="width: 25em" />
                        </label>
                        <br>
                    </fieldset>
                    <br>
                </fieldset>
                <fieldset>
                    <legend>Flags</legend>
                    <label class="checkbox">
                        <input type="checkbox"
                               id="binary_index"
                               name="binary_index"
                               class="validate"
                               {% if task.binary_index %}checked{% endif %} />
                        <div class="checkmark">
                            <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                            <span class="material-symbols-outlined checked">check_box</span>
                        </div>
                        <span class="label">Binary Index</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox"
                               id="explain_arg"
                               name="explain_arg"
                               class="validate"
                               {% if task.explain_arg %}checked{% endif %} />
                        <div class="checkmark">
                            <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                            <span class="material-symbols-outlined checked">check_box</span>
                        </div>
                        <span class="label">Explain</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox"
                               id="fail_on_stopped_replication"
                               name="fail_on_stopped_replication"
                               class="validate"
                               {% if task.fail_on_stopped_replication %}checked{% endif %} />
                        <div class="checkmark">
                            <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                            <span class="material-symbols-outlined checked">check_box</span>
                        </div>
                        <span class="label">Fail on stopped replication</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox"
                               id="truncate_replicate_table"
                               name="truncate_replicate_table"
                               class="validate"
                               {% if task.truncate_replicate_table %}checked{% endif %} />
                        <div class="checkmark">
                            <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                            <span class="material-symbols-outlined checked">check_box</span>
                        </div>
                        <span class="label">Truncate replicate table</span>
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Advanced options</legend>
                    <fieldset>
                        <legend>Recursion Method</legend>
                        <div class="select">
                            <label for="recursion_method">
                                <span class="material-symbols-outlined">arrow_drop_down</span>
                                <span class="label">Recursion method</span>
                                <select id="recursion_method" name="recursion_method">
                                    <option value="" {% if task.recursion_method == "" %}selected{% endif %}>default</option>
                                    <option value="processlist"
                                            {% if task.recursion_method == "processlist" %}selected{% endif %}>
                                        processlist
                                    </option>
                                    <option value="hosts"
                                            {% if task.recursion_method == "hosts" %}selected{% endif %}>hosts</option>
                                    <option value="dsn"
                                            {% if task.recursion_method == "dsn" %}selected{% endif %}>dsn</option>
                                    <option value="none"
                                            {% if task.recursion_method == "none" %}selected{% endif %}>none</option>
                                </select>
                            </label>
                        </div>
                        <div class="field">
                            <label for="dsn_table">DSN Table</label>
                            <input type="text"
                                   id="dsn_table"
                                   name="dsn_table"
                                   class="validate"
                                   value="{%- if task.recursion_method == 'dsn' -%}{{ (task.dsn_table | default('', true) | trim) or 'D=percona,t=dsns' }}{%- endif -%}"
                                   placeholder="D=percona,t=dsns" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Customization</legend>
                        <div class="field">
                            <label for="pause_file">Pause file</label>
                            <input type="text"
                                   id="pause_file"
                                   name="pause_file"
                                   class="validate"
                                   value="{{ task.pause_file }}" />
                        </div>
                        <div class="field">
                            <label for="progress">Progress</label>
                            <input type="text"
                                   id="progress"
                                   name="progress"
                                   class="validate"
                                   size="15"
                                   value="{{ task.progress or 'time,10' }}" />
                        </div>
                        <div class="field">
                            <label for="set_vars">Set Vars</label>
                            <input type="text"
                                   id="set_vars"
                                   name="set_vars"
                                   class="validate"
                                   value="{{ task.set_vars or 'transaction_isolation=READ-COMMITTED,lock_wait_timeout=5' }}"
                                   size="60" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Performance</legend>
                        <div class="field">
                            <label for="max_load">Max Load</label>
                            <input type="text"
                                   id="max_load"
                                   name="max_load"
                                   class="validate"
                                   value="{{ task.max_load or 'Threads_running=50' }}"
                                   size="30" />
                        </div>
                        <div class="field">
                            <label for="chunk_time">Chunk Time</label>
                            <input type="text"
                                   id="chunk_time"
                                   name="chunk_time"
                                   class="validate"
                                   value="{{ task.chunk_time or '0.5' }}"
                                   size="5" />
                        </div>
                        <div class="field">
                            <label for="max_lag">Max Lag</label>
                            <input type="text"
                                   id="max_lag"
                                   name="max_lag"
                                   class="validate"
                                   value="{{ task.max_lag or '150' }}"
                                   size="5" />
                        </div>
                    </fieldset>
                </fieldset>
                {% include "tasks/partials/create-form-alert-on-failure-input.html.j2" %}
            </div>
        </section>
        <footer>
            <button type="button" class="text large" data-modal-close>
                Cancel<sup>ESC</sup>
            </button>
            <button id="modalEditTaskSubmitButton"
                    type="submit"
                    disabled
                    class="contained large submitButton">Edit</button>
        </footer>
    </dialog>
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
</form>
{% set source_data = { "schema": task.get('databases', ''), "table": task.get('tables', '')} %}
<script src="{{ url_for('static', path='/js/schema-selector.js') }}"
        nonce="{{ request.state.csp_nonce }}"></script>
<script type="text/javascript" nonce="{{ request.state.csp_nonce }}">
    const form = document.getElementById('edit-task-form');
    const editButton = form.querySelector('button[type="submit"]');
    const recursion_method = document.getElementById('recursion_method');
    const dsn_table = document.getElementById('dsn_table');
    const explain_arg = document.getElementById('explain_arg');
    const truncate_replicate_table = document.getElementById('truncate_replicate_table');

    function updateEditButtonState() {
        editButton.disabled = !form.checkValidity();
    }

    recursion_method.addEventListener('change', function () {
        if (this.value === 'dsn') {
            if (!dsn_table.value.trim()) {
                dsn_table.value = 'D=percona,t=dsns';
            }
        } else {
            dsn_table.value = '';
        }
    });

    explain_arg.addEventListener('change', function () {
        if (this.checked) {
            truncate_replicate_table.checked = false;
            truncate_replicate_table.disabled = true;
        } else {
            truncate_replicate_table.disabled = false;
        }
    });

    truncate_replicate_table.addEventListener('change', function () {
        if (this.checked) {
            explain_arg.checked = false;
            explain_arg.disabled = true;
        } else {
            explain_arg.disabled = false;
        }
    });

    ['input', 'change'].forEach(event => form.addEventListener(event, updateEditButtonState));

    const connectToSelect = document.getElementById('service_id');
    const schemaSelect = document.getElementById('schema_id');
    const tableSelect = document.getElementById('table_id');
    const extra_args = document.getElementById('extra_args');

    let selectedService = null;
    let selectedSchema = null;
    let selectedTable = null;

    var serviceSchemas = {};
    const source_data = {{ source_data | tojson }};

    const sourceSchemas = source_data.schema ? source_data.schema.split(',').map(s => s.trim()).filter(s => s) : [];
    const sourceTables = source_data.table ? source_data.table.split(',').map(t => t.trim()).filter(t => t) : [];

    const hasMultipleSchemas = sourceSchemas.length > 1;
    const hasMultipleTables = sourceTables.length > 1;

    if (sourceTables.length === 1 && sourceTables[0].includes('.')) {
        sourceTables[0] = sourceTables[0].split('.')[1];
    }

    const matched = {
        serviceId: null,
        schemaId: null,
        tableId: null,
    };

    async function populateSchemas(serviceId) {
        populateSelect(schemaSelect, [], {placeholder: "Select a schema"});
        populateSelect(tableSelect, [], {placeholder: "Select a table"});
        selectedSchema = null;
        selectedTable = null;

        if (serviceId !== "-1" && serviceId !== "" && !hasMultipleSchemas && !hasMultipleTables) {
            extra_args.value = "";
        }

        if (sourceSchemas.length === 0 && sourceTables.length === 0) {
            populateSelect(schemaSelect, [{id: "-1", name: "No selected"}], {placeholder: "Select a schema", preselectValue: "-1"});
            tableSelect.disabled = true;
            return;
        }

        if (!serviceId) return;

        var schemas = serviceSchemas[serviceId];
        if (!schemas) {
            var items = await fetchSchemas(serviceId);
            if (items.length === 0) return;
            schemas = {};
            for (var i = 0; i < items.length; i++) {
                schemas[items[i].id] = {name: items[i].name, tables: {}};
            }
            serviceSchemas[serviceId] = schemas;
        }

        var entries = Object.entries(schemas);
        if (entries.length > 0) {
            var schemaItems = [];
            for (var j = 0; j < entries.length; j++) {
                schemaItems.push({id: entries[j][0], name: entries[j][1].name});
            }
            populateSelect(schemaSelect, schemaItems, {placeholder: "Select a schema"});
            if (serviceId === matched.serviceId && matched.schemaId) {
                schemaSelect.value = matched.schemaId;
                selectedSchema = matched.schemaId;
                await populateTables(serviceId, matched.schemaId);
                return;
            }
            if (entries.length === 1) {
                schemaSelect.value = entries[0][0];
                schemaSelect.disabled = true;
                schemaSelect.insertAdjacentHTML("afterend", '<input id="schema_id_hidden" type="hidden" name="schema_id" value="' + schemaSelect.value + '">');
                selectedSchema = entries[0][0];
                await populateTables(serviceId, entries[0][0]);
            }
        }
    }

    async function populateTables(serviceId, schemaId) {
        populateSelect(tableSelect, [], {placeholder: "Select a table"});
        selectedTable = null;

        if (schemaId !== "-1" && schemaId !== "" && !hasMultipleSchemas && !hasMultipleTables) {
            extra_args.value = "";
        }

        if (sourceTables.length === 0) {
            populateSelect(tableSelect, [{id: "-1", name: "No selected"}], {placeholder: "Select a table", preselectValue: "-1"});
            return;
        }

        if (!schemaId || schemaId === "-1") return;

        var cached = serviceSchemas[serviceId] && serviceSchemas[serviceId][schemaId];
        var tables = cached ? cached.tables : null;
        if (!tables || Object.keys(tables).length === 0) {
            var items = await fetchTables(schemaId);
            if (items.length === 0) return;
            tables = {};
            for (var i = 0; i < items.length; i++) {
                tables[items[i].id] = {name: items[i].name, id: items[i].id};
            }
            if (serviceSchemas[serviceId] && serviceSchemas[serviceId][schemaId]) {
                serviceSchemas[serviceId][schemaId].tables = tables;
            }
        }

        var entries = Object.entries(tables);
        if (entries.length > 0) {
            var tableItems = [];
            for (var j = 0; j < entries.length; j++) {
                tableItems.push({id: entries[j][0], name: entries[j][1].name});
            }
            populateSelect(tableSelect, tableItems, {placeholder: "Select a table"});
            if (schemaId == matched.schemaId && matched.tableId) {
                tableSelect.value = matched.tableId;
                selectedTable = matched.tableId;
                return;
            }
            if (entries.length === 1) {
                tableSelect.value = entries[0][0];
                tableSelect.disabled = true;
                tableSelect.insertAdjacentHTML("afterend", '<input id="table_id_hidden" type="hidden" name="table_id" value="' + tableSelect.value + '">');
                selectedTable = entries[0][0];
            }
        }
    }

    connectToSelect.addEventListener('change', async function () {
        var hiddenSchemaInput = document.getElementById("schema_id_hidden");
        if (hiddenSchemaInput && hiddenSchemaInput.parentNode) {
            hiddenSchemaInput.parentNode.removeChild(hiddenSchemaInput);
        }
        selectedService = this.value;
        await populateSchemas(selectedService);
    });

    schemaSelect.addEventListener('change', async function() {
        if (this.value !== "-1" && this.value !== "" && !hasMultipleSchemas && !hasMultipleTables) {
            extra_args.value = "";
        }
        var hiddenTableInput = document.getElementById("table_id_hidden");
        if (hiddenTableInput && hiddenTableInput.parentNode) {
            hiddenTableInput.parentNode.removeChild(hiddenTableInput);
        }
        selectedSchema = this.value;
        await populateTables(selectedService, selectedSchema);
    });

    tableSelect.addEventListener('change', function() {
        if (this.value !== "-1" && this.value !== "" && !hasMultipleSchemas && !hasMultipleTables) {
            extra_args.value = "";
        }
    });

    extra_args.addEventListener('input', function() {
        if (this.value.trim() !== "") {
            if (schemaSelect.value !== "-1") {
                schemaSelect.value = "";
                selectedSchema = null;
            }

            if (tableSelect.value !== "-1") {
                tableSelect.value = "";
                selectedTable = null;
            }

            var hiddenSchemaInput = document.getElementById("schema_id_hidden");
            var hiddenTableInput = document.getElementById("table_id_hidden");
            if (hiddenSchemaInput && hiddenSchemaInput.parentNode) {
                hiddenSchemaInput.parentNode.removeChild(hiddenSchemaInput);
            }
            if (hiddenTableInput && hiddenTableInput.parentNode) {
                hiddenTableInput.parentNode.removeChild(hiddenTableInput);
            }
        }
    });

    async function initSource() {
        var selectedServiceId = connectToSelect.value;

        if (hasMultipleSchemas || hasMultipleTables) {
            var extraArgsParts = [];

            if (hasMultipleSchemas) {
                extraArgsParts.push('--databases=' + sourceSchemas.join(','));
            }

            if (hasMultipleTables) {
                extraArgsParts.push('--tables=' + sourceTables.join(','));
            }

            extra_args.value = extraArgsParts.join(' ');

            matched.serviceId = selectedServiceId;
            matched.schemaId = "-1";
            matched.tableId = "-1";
            return;
        }

        if (sourceSchemas.length === 0 && sourceTables.length === 0) {
            matched.serviceId = selectedServiceId;
            matched.schemaId = "-1";
            matched.tableId = "-1";
            return;
        }

        if (selectedServiceId === "-1") {
            if (sourceSchemas.length > 0 || sourceTables.length > 0) {
                serviceSchemas["-1"] = {
                    "-1": {
                        name: "Unknown schema: " + (sourceSchemas[0] || "unknown"),
                        tables: {
                            "-1": {
                                name: "Unknown table: " + (sourceTables[0] || "unknown"),
                                id: "-1"
                            }
                        }
                    }
                };

                matched.serviceId = "-1";
                matched.schemaId = "-1";
                matched.tableId = "-1";
            }
            return;
        }

        matched.serviceId = selectedServiceId;

        var schemas = serviceSchemas[selectedServiceId];
        if (!schemas) {
            var schemaItems = await fetchSchemas(selectedServiceId);
            schemas = {};
            for (var i = 0; i < schemaItems.length; i++) {
                schemas[schemaItems[i].id] = {name: schemaItems[i].name, tables: {}};
            }
            serviceSchemas[selectedServiceId] = schemas;
        }

        var matchedSchema = null;
        var matchedSchemaKey = null;

        if (sourceSchemas.length > 0) {
            var schemaKeys = Object.keys(schemas);
            for (var s = 0; s < schemaKeys.length; s++) {
                if (schemas[schemaKeys[s]].name === sourceSchemas[0]) {
                    matchedSchema = schemas[schemaKeys[s]];
                    matchedSchemaKey = schemaKeys[s];
                    break;
                }
            }
        }

        if (matchedSchema) {
            matched.schemaId = matchedSchemaKey;

            var tables = matchedSchema.tables;
            if (Object.keys(tables).length === 0 && matchedSchemaKey !== "-1") {
                var tableItems = await fetchTables(matchedSchemaKey);
                for (var t = 0; t < tableItems.length; t++) {
                    tables[tableItems[t].id] = {name: tableItems[t].name, id: tableItems[t].id};
                }
                matchedSchema.tables = tables;
            }

            var tableNames = Object.values(tables).map(function(tb) { return tb.name; });
            var tableIds = Object.keys(tables);

            if (sourceTables.length > 0 && tableNames.indexOf(sourceTables[0]) !== -1) {
                for (var k = 0; k < tableIds.length; k++) {
                    if (tables[tableIds[k]].name === sourceTables[0]) {
                        matched.tableId = tableIds[k];
                        break;
                    }
                }
            } else if (sourceTables.length > 0) {
                matchedSchema.tables["-1"] = {
                    name: "Unknown table: " + (sourceTables[0] || "unknown"),
                    id: "-1"
                };
                matched.tableId = "-1";
            }
        } else if (sourceSchemas.length > 0) {
            schemas["-1"] = {
                name: "Unknown schema: " + (sourceSchemas[0] || "unknown"),
                tables: {
                    "-1": {
                        name: "Unknown table: " + (sourceTables[0] || "unknown"),
                        id: "-1"
                    }
                }
            };

            matched.schemaId = "-1";
            matched.tableId = "-1";

            serviceSchemas[selectedServiceId] = schemas;
        }
    }

    window.addEventListener('DOMContentLoaded', async function() {
        await initSource();
        if (connectToSelect.options.length != 0) {
            var singleHost = connectToSelect.value;
            selectedService = singleHost;
            await populateSchemas(singleHost);
        }
        updateEditButtonState();
    });

    document.addEventListener('DOMContentLoaded', function() {
        const originalConfirmYes = document.getElementById('confirmYes');
        if (originalConfirmYes) {
            originalConfirmYes.addEventListener('click', function(e) {
                const confirmationMessage = document.getElementById('confirmationMessage');
                if (confirmationMessage && confirmationMessage.textContent.includes('edit task')) {
                    if (schemaSelect.value === "") {
                        schemaSelect.value = "-1";
                    }
                    if (tableSelect.value === "") {
                        tableSelect.value = "-1";
                    }
                }
            }, true);
        }
    });
</script>
