{% extends "base.html" %}

{% block title %}Data Archiver{% endblock %}

{% block style %}
    {% if history_tasks or running_tasks %}
        <link rel="stylesheet" href="/static/css/logs.css">
    {% endif %}
    {% if tasks %}
        <link rel="stylesheet" href="/static/css/saved.css">
        <link rel="stylesheet" href="/static/css/scheduled.css">
        <link rel="stylesheet" href="/static/css/select2.min.css">
    {% endif %}
{% endblock %}

{% block behaviours_optimized_extra %}
    {% if history_tasks or running_tasks %}
        <script src="/static/js/logs.js"></script>
    {% endif %}
    {% if tasks %}
        <script>
            const taskNames = {{ tasks|map(attribute='name')|list|tojson }};
            const availableTimezones = {{ AVAILABLE_TIMEZONES|tojson }};
        </script>
        <script src="/static/js/cronstrue.min.js"></script>
        <script src="/static/js/select2.min.js"></script>
        <script src="/static/js/saved.js"></script>
        <script src="/static/js/scheduled.js"></script>
    {% endif %}
{% endblock %}

{% block main %}

    <p>Perform data archiving tasks, currently MySQL-only.</p>

    {% if not tasks and not history_tasks %}
        {% set modal_required = False %}
        <h2>Configure an archiver task</h2>
        {% if mysql_services|length < 1 %}
            <p>Unable to find suitable database instances.</p>
        {% elif executor_hosts|length < 1 %}
            <p>Unable to find suitable executor hosts.</p>
        {% else %}
            {% include "archiver/partials/create-form.html" %}
        {% endif %}
    {% else %}
        {% set modal_required = True %}
        {% if running_tasks  %}
        <section id="running-tasks">
            <h2>Running</h2>
            {% include "tasks/partials/running-tasks.html" %}
        </section>
        {% endif %}

        <section id="saved-tasks">
            <h2>Saved</h2>
            {% include "archiver/partials/saved-tasks.html" %}
            <h2>Periodic Tasks</h2>
            {% include "archiver/partials/scheduled-tasks.html" %}
            <h3>Create an archiving process</h3>
            {% include "archiver/partials/create-form.html" %}
        </section>

        <section id="pending-tasks">
            <h2>Pending</h2>
            {% include "archiver/partials/pending-tasks.html" %}
        </section>

        <section id="completed-tasks">
            <h2>History</h2>
            {% include "tasks/partials/completed-tasks.html" %}
        </section>
    {% endif %}

{% endblock %}
