{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
{% extends "base.html.j2" %}
{% block title %}
    Collect Diagnostic Data
{% endblock title %}
{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', path='/css/snippets-details.css') }}">
    <style>{{ syntax_highlight_css() }}</style>
    {% if history_tasks or running_tasks %}
        <link rel="stylesheet" href="{{ url_for('static', path='/css/logs.css') }}">
    {% endif %}
    {% if tasks %}
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/saved.css') }}">
    {% endif %}
    <style>
    pre {
        overflow: auto;
        white-space: pre;
    }
    </style>
{% endblock style %}
{% block behaviours_optimized_extra %}
    <script src="{{ url_for('static', path='/js/relativeTime.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    {% if history_tasks or running_tasks %}
        <script src="{{ url_for('static', path='/js/logs.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
    {% endif %}
    {% if tasks %}
        <script src="{{ url_for('static', path='/js/saved.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
    {% endif %}
{% endblock behaviours_optimized_extra %}
{% block main %}
    <!-- Introduction: Help users understand what's this plugin about -->
    <section class="app-intro">
        <h1>Collect Diagnostic Data</h1>
        <p>Percona's Support Team solutions to collect information for troubleshooting different cases.</p>
        <!-- Create New Tasks -->
        <br>
        <h3>Collect new data</h3>
        <br>
        {% if executor_hosts|length < 1 %}
            <p>Unable to find suitable executor hosts.</p>
        {% else %}
            {% include "atw/partials/create-form.html.j2" %}
        {% endif %}
    </section>
{% endblock main %}
