.entity-fieldset,
.entity-fieldset fieldset {
    padding-top: 0;
    padding-bottom: 0;
}

#encrypt_all_entities {
    display: inline;
}

.entity-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.entity-checkbox-item {
    width: calc(100% / 6 - 10px);
    display: flex;
    align-items: center;
}

.entity-checkbox-item input {
    margin-right: 5px;
    margin-top: 0;
}

.entity-checkbox-item label {
    margin-left: 0 !important;
}
