#messages {
    position: absolute;
    width: 65%;
    left: 50%;
    transform: translate(-50%);
}

.message {
    position: relative;
    margin-bottom: 0.5em;
    padding: 1em 2em 1em 1em;
    border-radius: 0.3em;
    font-weight: 500;
}

.close-button {
    position: absolute;
    top: 0.5em;
    right: 1em;
    background: none;
    color: inherit;
    margin-top: 0;
}

.message[data-level="info"] {
    background-color: #d9edf7;
    color: #31708f;
}

.message[data-level="success"] {
    background-color: #dff0d8;
    color: #3c763d;
}

.message[data-level="warning"] {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.message[data-level="error"] {
    background-color: #f2dede;
    color: #a94442;
}
