<style>

    .hidden {
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
        opacity: 0;
        max-height: 0;
        pointer-events: none;
        display: none;
    }

    .visible {
        opacity: 1;
        max-height: 1000px; /* Large enough to show all content */
        pointer-events: auto;
        display: flex;
    }

    button {
        margin-top: 1em;
        margin-right: 1em;
    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
    }

    .checkbox-group label {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;
        margin-top: 0;
    }

    .checkbox-group input {
        margin-top: 0 !important;
    }
    fieldset + fieldset {
        margin: 1em 0;
    }
</style>
<form action="" id="create_form" method="post" class="{{ form_class }}">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    <fieldset>
        <legend>Main Options</legend>
        <br>
        <fieldset>
            <legend>Executor Host</legend>
            {% set hostname_title = "Select the hostname of the target system for task execution." %}
            <div class="select">
                <label for="hostname" title="{{ hostname_title }}">
                    <span class="material-symbols-outlined">arrow_drop_down</span>
                    <span class="label">Select Executor Host:</span>
                    {% if executor_hosts|length == 1 %}
                        {% set single_service = executor_hosts[0] %}
                        <select id="hostname" name="hostname" title="{{ hostname_title }}" disabled>
                            <option value="{{ single_service }}" selected>{{ single_service }}</option>
                        </select>
                        <input type="hidden" name="hostname" value="{{ single_service }}">
                    {% else %}
                        <select id="hostname" name="hostname" title="{{ hostname_title }}" required>
                            <option value="" selected>Select a host</option>
                            {% for executor_host in executor_hosts %}<option value="{{ executor_host }}">{{ executor_host }}</option>{% endfor %}
                        </select>
                    {% endif %}
                </label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Basic Task Information</legend>
            <br>
            {% set task_name_title = "Type the name of task to be created." %}
            <label for="task_name" title="{{ task_name_title }}">
                Task Name:
                <input type="text"
                       id="task_name"
                       name="task_name"
                       class="validate"
                       required
                       placeholder="Enter a unique task name" />
            </label>
            <br>
            <br>
            {% set service_id_title = "Select the database host from the inventory to connect to." %}
            <div class="select">
                <label for="service_id" title="{{ service_id_title }}">
                    <span class="material-symbols-outlined">arrow_drop_down</span>
                    <span class="label">Select a Database Host:</span>
                    {% if services|length == 1 %}
                        {% set single_service = services[0] %}
                        <select id="service_id" name="service_id" disabled>
                            <option value="{{ single_service.id }}" selected>{{ single_service.name }}</option>
                        </select>
                        <input type="hidden" name="service_id" value="{{ single_service.id }}">
                    {% else %}
                        <select id="service_id" name="service_id" required>
                            <option value="" selected>Select a database host</option>
                            {% for service in services %}
                                <option value="{{ service.id }}">{{ service.name }} ({{ service.node_id }})</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </label>
            </div>
            <br>
        </fieldset>
    </fieldset>
    <fieldset>
        <legend>General Backup Configuration</legend>
        {% set backup_dir_title = "Type the directory where backup files will be stored." %}
        <label for="backup_dir" title="{{ backup_dir_title }}">
            Backup Directory:
            <input type="text"
                   id="backup_dir"
                   name="backup_dir"
                   placeholder="/path/to/backups"
                   required>
        </label>
        <br>
        <br>
        {% set logging_dir_title = "Type the directory where log files will be stored for backup operations." %}
        <label for="logging_dir" title="{{ logging_dir_title }}">
            Logging Directory (optional):
            <input type="text"
                   id="logging_dir"
                   name="logging_dir"
                   placeholder="/path/to/logs" />
        </label>
        <br>
        <br>
        {% set compression_algorithm_title = "Select the type of compression algorithm" %}
        <div class="select"
             style="display:none"
             id="compression_algorithm_wrapper">
            <label for="compression_algorithm" title="{{ compression_algorithm_title }}">
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Compression Algorithm:</span>
                <select id="compression_algorithm" name="compression_algorithm"></select>
            </label>
        </div>
    </fieldset>
    <fieldset id="pgbackrest_container" style="flex-direction: column; gap: 1em">
        <legend>PgBackRest Configuration</legend>
        {% set pgbackrest_bin_title = "The path to the pgbackrest binary." %}
        <label for="pgbackrest_bin" title="{{ pgbackrest_bin_title }}">
            PgBackRest Binary Path:
            <input type="number"
                   id="pgbackrest_bin"
                   name="pgbackrest_bin"
                   value="/usr/bin/pgbackrest"
                   placeholder="/usr/bin/pgbackrest" />
        </label>
        <br>
        <br>
        {% set pgbackrest_config_file_title = "The path to the pgbackrest configuration file." %}
        <label for="pgbackrest_config_file" title="{{ pgbackrest_config_file_title }}">
            PgBackRest Config File Path:
            <input type="number"
                   id="pgbackrest_config_file"
                   name="pgbackrest_config_file"
                   value="/etc/pgbackrest.conf"
                   placeholder="/etc/pgbackrest.conf" />
        </label>
        <br>
        <br>
        {% set mydumper_weekly_purge_title = "Set the number of weeks after which old backups will be automatically deleted on a weekly basis." %}
        <label for="mydumper_weekly_purge" title="{{ mydumper_weekly_purge_title }}">
            Weekly Purge (weeks):
            <input type="number"
                   id="mydumper_weekly_purge"
                   name="mydumper_weekly_purge"
                   placeholder="e.g. 4" />
        </label>
        <div class="checkbox-group">
            {% set mydumper_dump_triggers_title = "Include database triggers in the backup to preserve trigger functionality." %}
            <label class="checkbox"
                   for="mydumper_dump_triggers"
                   title="{{ mydumper_dump_triggers_title }}">
                <input type="checkbox"
                       id="mydumper_dump_triggers"
                       name="mydumper_dump_triggers"
                       value="1"
                       checked>
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Dump Triggers</span>
            </label>
            {% set mydumper_desync_pxc_title = "Temporarily desynchronize the Percona XtraDB Cluster (PXC) node during backup to reduce replication lag." %}
            <label calss="checkbox"
                   for="mydumper_desync_pxc"
                   title="{{ mydumper_desync_pxc_title }}">
                <input type="checkbox"
                       id="mydumper_desync_pxc"
                       name="mydumper_desync_pxc"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Desync PXCs</span>
            </label>
            {% set mydumper_less_locking_title = "Minimize table locking during backup to reduce impact on database performance." %}
            <label class="checkbox"
                   for="mydumper_less_locking"
                   title="{{ mydumper_less_locking_title }}">
                <input type="checkbox"
                       id="mydumper_less_locking"
                       name="mydumper_less_locking"
                       value="1"
                       checked>
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Less Locking</span>
            </label>
            {% set mydumper_use_numa_title = "Enable NUMA (Non-Uniform Memory Access) awareness to optimize memory allocation for backup processes." %}
            <label class="checkbox"
                   for="mydumper_use_numa"
                   title="{{ mydumper_use_numa_title }}">
                <input type="checkbox"
                       id="mydumper_use_numa"
                       name="mydumper_use_numa"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Use NUMA</span>
            </label>
            {% set use_ftwrl_guardian_title = "Enable FTWRL (Flush Tables with Read Lock) Guardian to manage table locks and prevent long lock times during backup." %}
            <label class="checkbox"
                   for="use_ftwrl_guardian"
                   title="{{ use_ftwrl_guardian_title }}">
                <input type="checkbox"
                       id="use_ftwrl_guardian"
                       name="use_ftwrl_guardian"
                       value="1"
                       checked>
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Use FTWRL Guardian</span>
            </label>
        </div>
        {% set mydumper_extra_args_title = "Type additional command-line arguments for the backup process to customize its behavior." %}
        <label for="mydumper_extra_args" title="{{ mydumper_extra_args_title }}">
            Extra Arguments (optional):
            <input type="text"
                   id="mydumper_extra_args"
                   name="mydumper_extra_args"
                   placeholder="e.g. --verbose=3" />
        </label>
    </fieldset>
    <fieldset id="xtrabackup_container" style="flex-direction: column; gap: 1em">
        <legend>Xtrabackup Configuration</legend>
        {% set xtrabackup_copies_title = "Set the number of backup copies to retain for redundancy and recovery." %}
        <label for="xtrabackup_copies" title="{{ xtrabackup_copies_title }}">
            Number of Copies:
            <input type="number"
                   id="xtrabackup_copies"
                   name="xtrabackup_copies"
                   placeholder="e.g. 2" />
        </label>
        <div class="checkbox-group">
            {% set xtrabackup_kill_queries_title = "Terminate long-running queries that may block the XtraBackup process to ensure a smooth backup." %}
            <label class="checkbox"
                   for="xtrabackup_kill_queries"
                   title="{{ xtrabackup_kill_queries_title }}">
                <input type="checkbox"
                       id="xtrabackup_kill_queries"
                       name="xtrabackup_kill_queries"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Kill Queries</span>
            </label>
            {% set xtrabackup_verify_title = "Enable verification of the XtraBackup process to ensure data integrity and consistency." %}
            <label class="cehckbox"
                   for="xtrabackup_verify"
                   title="{{ xtrabackup_verify_title }}">
                <input type="checkbox"
                       id="xtrabackup_verify"
                       name="xtrabackup_verify"
                       value="1"
                       checked>
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Verify Backup</span>
            </label>
            {% set xtrabackup_prepare_title = "Prepare the XtraBackup files for restoration by applying redo logs and ensuring consistency." %}
            <label class="checkbox"
                   for="xtrabackup_prepare"
                   title="{{ xtrabackup_prepare_title }}">
                <input type="checkbox"
                       id="xtrabackup_prepare"
                       name="xtrabackup_prepare"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Prepare Backup</span>
            </label>
            {% set xtrabackup_desync_pxc_title = "Desynchronize the Percona XtraDB Cluster (PXC) node during XtraBackup to minimize replication impact." %}
            <label class="checkbox"
                   for="xtrabackup_desync_pxc"
                   title="{{ xtrabackup_desync_pxc_title }}">
                <input type="checkbox"
                       id="xtrabackup_desync_pxc"
                       name="xtrabackup_desync_pxc"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Desync PXC</span>
            </label>
            {% set xtrabackup_rsync_title = "Use rsync to optimize file transfers during XtraBackup, reducing disk I/O and improving performance." %}
            <label class="checkbox"
                   for="xtrabackup_rsync"
                   title="{{ xtrabackup_rsync_title }}">
                <input type="checkbox"
                       id="xtrabackup_rsync"
                       name="xtrabackup_rsync"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Use Rsync</span>
            </label>
            {% set xtrabackup_replica_info_title = "Include replica information in the backup to assist with replication recovery." %}
            <label class="checkbox"
                   for="xtrabackup_replica_info"
                   title="{{ xtrabackup_replica_info_title }}">
                <input type="checkbox"
                       id="xtrabackup_replica_info"
                       name="xtrabackup_replica_info"
                       value="1"
                       checked>
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Include Replica Info</span>
            </label>
            {% set xtrabackup_stop_replica_title = "Stop replication before starting the backup to ensure data consistency." %}
            <label class="checkbox"
                   for="xtrabackup_stop_replica"
                   title="{{ xtrabackup_stop_replica_title }}">
                <input type="checkbox"
                       id="xtrabackup_stop_replica"
                       name="xtrabackup_stop_replica"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Stop Replica Before Backup</span>
            </label>
            {% set xtrabackup_lock_ddl_title = "Lock Data Definition Language (DDL) operations during backup to prevent schema changes." %}
            <label class="checkbox"
                   for="xtrabackup_lock_ddl"
                   title="{{ xtrabackup_lock_ddl_title }}">
                <input type="checkbox"
                       id="xtrabackup_lock_ddl"
                       name="xtrabackup_lock_ddl"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Lock DDL</span>
            </label>
        </div>
        {% set xtrabackup_kill_queries_timeout_title = "Set the maximum time (in seconds) to wait before forcibly terminating long-running queries that block the backup process." %}
        <label for="xtrabackup_kill_queries_timeout"
               title="{{ xtrabackup_kill_queries_timeout_title }}">
            Kill Queries Timeout (seconds):
            <input type="number"
                   id="xtrabackup_kill_queries_timeout"
                   name="xtrabackup_kill_queries_timeout"
                   placeholder="e.g. 30" />
        </label>
        {% set xtrabackup_kill_query_type_title = "Choose which type of queries should be terminated to prevent backup interruptions." %}
        <div class="select">
            <label for="xtrabackup_kill_query_type"
                   title="{{ xtrabackup_kill_query_type_title }}">
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Query Type to Kill:</span>
                <select id="xtrabackup_kill_query_type" name="xtrabackup_kill_query_type">
                    <option value="">Select one</option>
                    <option value="select">select</option>
                    <option value="all">all</option>
                </select>
            </label>
        </div>
        {% set xtrabackup_prepare_memory_title = "Set the amount of memory to allocate for the prepare phase of XtraBackup. Leave empty for default." %}
        <label for="xtrabackup_prepare_memory"
               title="{{ xtrabackup_prepare_memory_title }}">
            Prepare Memory (optional):
            <input type="text"
                   id="xtrabackup_prepare_memory"
                   name="xtrabackup_prepare_memory"
                   placeholder="e.g. 1G" />
        </label>
        {% set xtrabackup_defaults_file_title = "Type the path to the optional defaults file for predefined configuration settings." %}
        <label for="xtrabackup_defaults_file"
               title="{{ xtrabackup_defaults_file_title }}">
            Defaults File (optional):
            <input type="text"
                   id="xtrabackup_defaults_file"
                   name="xtrabackup_defaults_file"
                   placeholder="/path/to/my.cnf" />
        </label>
        {% set xtrabackup_extra_args_title = "Type additional command-line arguments for XtraBackup to customize its behavior." %}
        <label for="xtrabackup_extra_args" title="{{ xtrabackup_extra_args_title }}">
            Extra Arguments (optional):
            <input type="text"
                   id="xtrabackup_extra_args"
                   name="xtrabackup_extra_args"
                   placeholder="e.g. --compact" />
        </label>
        {% set xtrabackup_incremental_method_title = "Choose the incremental backup method: 'less_space' (reduces storage usage) or 'fast_restore' (accelerates restoration)." %}
        <div class="select">
            <label for="xtrabackup_incremental_method"
                   title="{{ xtrabackup_incremental_method_title }}">
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Incremental Method:</span>
                <select id="xtrabackup_incremental_method"
                        name="xtrabackup_incremental_method">
                    <option value="">Select one</option>
                    <option value="less_space">less_space</option>
                    <option value="fast_restore">fast_restore</option>
                </select>
            </label>
        </div>
        {% set xtrabackup_incremental_cycle_title = "Select the frequency for incremental backups: 'daily' for daily backups or 'weekly' for weekly backups." %}
        <div class="select">
            <label for="xtrabackup_incremental_cycle"
                   title="{{ xtrabackup_incremental_cycle_title }}">
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Incremental Cycle:</span>
                <select id="xtrabackup_incremental_cycle" name="xtrabackup_incremental_cycle">
                    <option value="">Select one</option>
                    <option value="daily">daily</option>
                    <option value="weekly">weekly on Monday</option>
                    <option value="2">weekly on Tuesday</option>
                    <option value="3">weekly on Wednesday</option>
                    <option value="4">weekly on Thursday</option>
                    <option value="5">weekly on Friday</option>
                    <option value="6">weekly on Saturday</option>
                    <option value="7">weekly on Sunday</option>
                </select>
            </label>
        </div>
        {% set xtrabackup_local_ssh_destination_title = "Type the SSH destination for storing backups remotely. Format: user@host:/path" %}
        <label for="xtrabackup_local_ssh_destination"
               title="{{ xtrabackup_local_ssh_destination_title }}">
            Local SSH Destination (optional):
            <input type="text"
                   id="xtrabackup_local_ssh_destination"
                   name="xtrabackup_local_ssh_destination"
                   placeholder="user@host:/path" />
        </label>
        {% set xtrabackup_aes256_keyfile_title = "Type the path to the AES-256 encryption key file for securing backups." %}
        <label for="xtrabackup_aes256_keyfile"
               title="{{ xtrabackup_aes256_keyfile_title }}">
            AES256 Keyfile (optional):
            <input type="text"
                   id="xtrabackup_aes256_keyfile"
                   name="xtrabackup_aes256_keyfile"
                   placeholder="/path/to/keyfile" />
        </label>
        {% set xtrabackup_bin_cmd_title = "Select the backup tool to use: 'xtrabackup' (default for Percona), 'mariadb-backup' (MariaDB compatibility), or 'innobackupex' (legacy tool)." %}
        <div class="select">
            <label for="xtrabackup_bin_cmd" title="{{ xtrabackup_bin_cmd_title }}">
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Binary Command:</span>
                <select id="xtrabackup_bin_cmd" name="xtrabackup_bin_cmd">
                    <option value="">Select one</option>
                    <option value="xtrabackup">xtrabackup</option>
                    <option value="mariadb-backup">mariadb-backup</option>
                    <option value="innobackupex">innobackupex</option>
                </select>
            </label>
        </div>
    </fieldset>
    <fieldset id="binlog_container" style="flex-direction: column; gap: 1em">
        <legend>Binlog Configuration</legend>
        {% set binlog_alternative_host_title = "" %}
        <label for="binlog_alternative_host"
               title="{{ binlog_secondary_host_title }}">
            Alternative Host Address:
            <input type="text"
                   id="binlog_alternative_host"
                   name="binlog_alternative_host"
                   placeholder="e.g. localhost" />
        </label>
        {% set binlog_prefix_title = "" %}
        <label for="binlog_prefix" title="{{ binlog_prefix_title }}">
            Binglog Prefix:
            <input type="text"
                   id="binlog_prefix"
                   name="binlog_prefix"
                   placeholder="e.g. mysql-bin"
                   value="mysql-bin" />
        </label>
        {% set binlog_purge_days_title = "" %}
        <label for="binlog_purge_days" title="{{ binlog_purge_days_title }}">
            Binglog Purge Days:
            <input type="number"
                   id="binlog_purge_days"
                   name="binlog_purge_days"
                   value="30"
                   placeholder="e.g. 30" />
        </label>
        {% set binlog_extra_args_title = "" %}
        <label for="binlog_extra_args" title="{{ binlog_extra_args_title }}">
            Binlog Extra Args:
            <input type="text"
                   id="binlog_extra_args"
                   name="binlog_extra_args"
                   placeholder="e.g. --compress" />
        </label>
        {% set binlog_compress_cmd_title = "" %}
        <label for="binlog_compress_cmd" title="{{ binlog_compress_cmd_title }}">
            Binglog Compress Command:
            <input type="text"
                   id="binlog_compress_cmd"
                   name="binlog_compress_cmd"
                   placeholder="e.g. /usr/bin/pigz -p 3" />
        </label>
        {% set binlog_cmd_title = "" %}
        <label for="binlog_cmd" title="{{ binlog_cmd_title }}">
            Binglog Command:
            <input type="text"
                   size="55"
                   id="binlog_cmd"
                   name="binlog_cmd"
                   placeholder="e.g. /usr/local/percona/msp/backup/bin/mysqlbinlog" />
        </label>
    </fieldset>
    <fieldset id="upload_container">
        <legend>Additional Upload Options</legend>
        <button class="text large" type="button" id="toggle_s3_btn">+ Add S3 upload</button>
        <br>
        <div id="s3_container">
            {% set s3_bucket_title = "Type the name of the S3 bucket where backups will be stored." %}
            <label for="s3_bucket" title="{{ s3_bucket_title }}">
                S3 Bucket:
                <input type="text"
                       id="s3_bucket"
                       name="s3_bucket"
                       placeholder="e.g. my-backup-bucket" />
            </label>
            <br>
            <br>
            {% set s3_storage_class_title = "Type the S3 storage class for backups." %}
            <label for="s3_storage_class" title="{{ s3_storage_class_title }}">
                S3 Storage Class (optional):
                <input type="text"
                       id="s3_storage_class"
                       name="s3_storage_class"
                       placeholder="STANDARD, GLACIER, etc." />
            </label>
            <br>
            <br>
            {% set skip_s3_safety_check_title = "Disable safety checks before uploading backups to S3. Use with caution to avoid accidental data loss." %}
            <label class="checkbox"
                   for="skip_s3_safety_check"
                   title="{{ skip_s3_safety_check_title }}">
                <input type="checkbox"
                       id="skip_s3_safety_check"
                       name="skip_s3_safety_check"
                       value="1" />
                <div class="checkmark">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
                <span class="label">Skip S3 Safety Check</span>
            </label>
        </div>
        <button class="text large" type="button" id="toggle_rsync_btn">+ Add Rsync upload</button>
        <div id="rsync_container">
            {% set rsync_path_title = "Type the remote destination path for Rsync transfers. Format: user@host:/path." %}
            <br>
            <label for="rsync_path" title="{{ rsync_path_title }}">
                Rsync Path:
                <input type="text"
                       id="rsync_path"
                       name="rsync_path"
                       placeholder="user@host:/path" />
            </label>
        </div>
        <br>
        <br>
    </fieldset>
    {% include "tasks/partials/create-form-alert-on-failure-input.html" %}
    <div style="display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.25em">
        <button class="contained large" type="submit">Create</button>
        <button class="text large" type="reset">Reset</button>
    </div>
</form>
<script type="text/javascript" nonce="{{ request.state.csp_nonce }}">
    const backupTypeSelect = document.getElementById('backup_type');
    const mydumperContainer = document.getElementById('mydumper_container');
    const xtrabackupContainer = document.getElementById('xtrabackup_container');
    const binlogContainer = document.getElementById('binlog_container');
    const uploadContainer = document.getElementById('upload_container');
    const s3Container = document.getElementById('s3_container');
    const toggleS3Btn = document.getElementById('toggle_s3_btn');
    const rsyncContainer = document.getElementById('rsync_container');
    const toggleRsyncBtn = document.getElementById('toggle_rsync_btn');
    const s3BucketInput = document.getElementById('s3_bucket');
    const rsyncPathInput = document.getElementById('rsync_path');
    const form = document.getElementById('create_form');
    const createButton = form.querySelector('button[type="submit"]');

    let s3Visible = false;
    let rsyncVisible = false;



    const compressionWrapper = document.getElementById('compression_algorithm_wrapper');
    const compressCheckbox = document.getElementById('compress');
    const compressionSelect = document.getElementById('compression_algorithm');


    const compressionOptions = {
        M: {
            title: "Select the compression algorithm to use for backups: 'gzip' or 'zstd'.",
            options: [
                { value: '', label: 'Select one' },
                { value: 'gzip', label: 'gzip' },
                { value: 'zstd', label: 'zstd' }
            ]
        },
        X: {
            title: "Select the compression algorithm to use for backups: 'zstd' or 'lz4'.",
            options: [
                { value: '', label: 'Select one' },
                { value: 'zstd', label: 'zstd' },
                { value: 'lz4', label: 'lz4' },
                { value: 'quicklz', label: 'quicklz' }
            ]
        },
        B: {
            title: "Select the compression algorithm to use for backups: 'gzip'.",
            options: [
                { value: '', label: 'Select one' },
                { value: 'gzip', label: 'gzip' }
            ]
        }
    };



    function disableAllMydumperFields(disabled) {
        mydumperContainer.querySelectorAll('input, select').forEach(el => el.disabled = disabled);
    }

    function disableAllXtrabackupFields(disabled) {
        xtrabackupContainer.querySelectorAll('input, select').forEach(el => el.disabled = disabled);
    }

    function disableAllBinlogFields(disabled) {
        binlogContainer.querySelectorAll('input, select').forEach(el => el.disabled = disabled);
    }

    function disableAllUploadFields(disabled) {
        uploadContainer.querySelectorAll('input, select').forEach(el => el.disabled = disabled);
    }

    function showContainer(container, show) {
        if (show) {
            container.classList.add('visible');
            container.classList.remove('hidden');
        } else {
            container.classList.add('hidden');
            container.classList.remove('visible');
        }
    }

    function updateBackupTypeUI() {
        const backupType = backupTypeSelect.value;
        if (backupType === 'M') {
            // Show mydumper, hide xtrabackup and binlog
            showContainer(mydumperContainer, true);
            disableAllMydumperFields(false);

            showContainer(uploadContainer, true);
            disableAllUploadFields(false);

            showContainer(xtrabackupContainer, false);
            disableAllXtrabackupFields(true);

            showContainer(binlogContainer, false);
            disableAllBinlogFields(true);
        } else if (backupType === 'X') {
            // Show xtrabackup, hide mydumper and binlog
            showContainer(xtrabackupContainer, true);
            disableAllXtrabackupFields(false);

            showContainer(uploadContainer, true);
            disableAllUploadFields(false);

            showContainer(mydumperContainer, false);
            disableAllMydumperFields(true);

            showContainer(binlogContainer, false);
            disableAllBinlogFields(true);
        } else if (backupType === 'B') {
            showContainer(binlogContainer, true);
            disableAllBinlogFields(false);

            showContainer(mydumperContainer, false);
            disableAllMydumperFields(true);

            showContainer(xtrabackupContainer, false);
            disableAllXtrabackupFields(true);

            showContainer(uploadContainer, true);
            disableAllUploadFields(false);
        }
        else {
            // No selection
            showContainer(mydumperContainer, false);
            disableAllMydumperFields(true);

            showContainer(uploadContainer, true);
            disableAllUploadFields(false);

            showContainer(xtrabackupContainer, false);
            disableAllXtrabackupFields(true);

            showContainer(binlogContainer, false);
            disableAllBinlogFields(true);
        }
    }

    function toggleS3() {
        s3Visible = !s3Visible;
        if (s3Visible) {
            showContainer(s3Container, true);
            s3BucketInput.required = true;
            toggleS3Btn.textContent = "- Remove S3 upload";
        } else {
            showContainer(s3Container, false);
            s3BucketInput.required = false;
            s3BucketInput.value = '';
            document.getElementById('s3_storage_class').value = '';
            document.getElementById('skip_s3_safety_check').checked = false;
            toggleS3Btn.textContent = "+ Add S3 upload";
        }
    }

    function toggleRsync() {
        rsyncVisible = !rsyncVisible;
        if (rsyncVisible) {
            showContainer(rsyncContainer, true);
            rsyncPathInput.required = true;
            toggleRsyncBtn.textContent = "- Remove Rsync upload";
        } else {
            showContainer(rsyncContainer, false);
            rsyncPathInput.required = false;
            rsyncPathInput.value = '';
            toggleRsyncBtn.textContent = "+ Add Rsync upload";
        }
    }
    function updateCreateButtonState() {
        createButton.disabled = !form.checkValidity();
    }


    function updateCompressionOptions() {
        const isCompressChecked = compressCheckbox.checked;
        const backupType = backupTypeSelect.value;

        if (isCompressChecked && compressionOptions[backupType]) {
            const { title, options } = compressionOptions[backupType];

            compressionSelect.innerHTML = options
                .map(opt => `<option value="${opt.value}">${opt.label}</option>`)
                .join('');

            compressionSelect.title = title;
            compressionWrapper.title = title;
            compressionWrapper.style.display = 'block';
        } else {
            compressionWrapper.style.display = 'none';
            compressionSelect.innerHTML = '';
        }
    }

    // Event listeners
    compressCheckbox.addEventListener('change', updateCompressionOptions);
    backupTypeSelect.addEventListener('change', updateCompressionOptions);

    backupTypeSelect.addEventListener('change', updateBackupTypeUI);
    toggleS3Btn.addEventListener('click', toggleS3);
    toggleRsyncBtn.addEventListener('click', toggleRsync);
    ['input', 'change'].forEach(event => form.addEventListener(event, updateCreateButtonState));

    // Initialize
    window.addEventListener('DOMContentLoaded', function() {
        updateBackupTypeUI();
        showContainer(s3Container, false);
        showContainer(rsyncContainer, false);
        updateCreateButtonState();
    });

</script>
