{% if tasks %}
    <table data-table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Type</th>
                <th>Upload</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr id="{{ task.name }}">
                    <td>
                        <a href="{{ url_for('pg_backups_detail', task_name=task.name) }}">{{ task.name }}</a>
                    </td>
                    <td>{{ task.host }} ({{ task.port }})</td>
                    <td>{{ task.backup_type }}</td>
                    <td>{{ task.upload }}</td>
                    <td class="options">{% include "tasks/partials/saved-tasks-actions-column.html" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "tasks/partials/scheduled-execution-dialog.html" %}
{% else %}
    <p>No data</p>
{% endif %}
