{% if tasks %}
    <table data-table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Type</th>
                <th>Created by</th>
                <th>Last Updated by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr id="{{ task.name }}">
                    <td>
                        <a href="{{ url_for('restores_detail', task_name=task.name) }}">{{ task.name }}</a>
                    </td>
                    <td>{{ task.host }} ({{ task.port }})</td>
                    <td>{{ task.backup_type }}</td>
                    <td>{{ user_id_to_username.get(task["created_by"], task["created_by"]) or '' }}</td>
                    <td>{{ user_id_to_username.get(task["last_updated_by"], task["last_updated_by"]) or '' }}</td>
                    <td class="options">{% include "tasks/partials/saved-tasks-actions-column.html" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data</p>
{% endif %}
