{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
<div class="tasks-table-container">
    <table class="responsive-table tasks-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Target</th>
                <th>Created At</th>
                <th>ETA</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if pending_tasks %}
                {% for task in pending_tasks %}
                    {% set task_name = task["task"]["name"] %}
                    <tr>
                        <td>{{ task_name }}</td>
                        <td>{{ task['execution_request']['target'] }}</td>
                        <td class="relativeTime">{{ task['created_at'] }}</td>
                        {% set eta = task['execution_request'].get('eta') %}
                        <td {% if eta %}class="relativeTime"{% endif %}>{{ eta }}</td>
                        <td>
                            {% if is_task_manager_enabled %}
                                <a href="{{ url_for('tasks_detail', task_name=task_name) }}"><span class="material-symbols-outlined">visibility</span></a>
                            {% else %}
                                <a class="tooltip">
                                    <span class="material-symbols-outlined">visibility_off</span>
                                    <span class="tooltiptext">Enable the Task Manager plugin or navigate to the "{{ task["task"]["owner"] }}"
                                    plugin to view details of this task.</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="no-tasks">No tasks pending</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
