<div class="tasks-table-container">
    <table class="responsive-table tasks-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Target</th>
                <th>Start At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if running_tasks %}
                {% for task in running_tasks %}
                    {% set task_name = task["task"]["name"] %}
                    <tr class="previous-log-row">
                        <td>{{ task_name }}</td>
                        <td>{{ task['execution_request']['target'] }}</td>
                        <td class="relativeTime">{{ task['updated_at'] }}</td>
                        <td>
                            {% if is_task_manager_enabled %}
                                <a href="{{ url_for('tasks_detail', task_name=task_name) }}"><span class="material-symbols-outlined">visibility</span></a>
                            {% else %}
                                <a class="tooltip">
                                    <span class="material-symbols-outlined">visibility_off</span>
                                    <span class="tooltiptext">Enable the Task Manager plugin or navigate to the "{{ task["task"]["owner"] }}"
                                    plugin to view details of this task.</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="no-tasks">No tasks running</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
