<div class="scheduled-tasks-table-container">
    <form id="new-periodic-task-form"
          method="post"
          action="{{ url_for('periodic_task_create') }}"
          style="display: none">
        <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    </form>
    <table id="scheduled-tasks-table">
        <thead>
            <tr>
                <th>Task</th>
                <th>Owner</th>
                <th>Period</th>
                <th>Last Run At</th>
                <th>Next Execution</th>
                <th>Runs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if periodic_tasks %}
                {% for periodic_task in periodic_tasks %}
                    {% set task_name = periodic_task.task %}
                    <tr>
                        <td>{{ task_name }}</td>
                        <td>{{ periodic_task.owner }}</td>
                        {% if periodic_task.crontab %}
                            {# djlint:off H025 #}
                            <td class="period-cell period-crontab"
                                data-timezone="{{ periodic_task.crontab.timezone }}">
                                {# djlint:on #}
                            {% else %}
                                <td class="period-cell">
                                {% endif %}
                                {{ periodic_task.period }}
                            </td>
                            <td class="relativeTime">{{ periodic_task.last_run_at or '' }}</td>
                            <td class="relativeTime">{{ periodic_task.next_run_at or '' }}</td>
                            <td>{{ periodic_task.total_run_count }}</td>
                            <td>
                                {% if is_task_manager_enabled %}
                                    <a href="{{ url_for('tasks_detail', task_name=task_name) }}"><span class="material-symbols-outlined">visibility</span></a>
                                {% else %}
                                    <a class="tooltip">
                                        <span class="material-symbols-outlined">visibility_off</span>
                                        <span class="tooltiptext">Enable the Task Manager plugin or navigate to the "{{ periodic_task.owner }}"
                                        plugin to view details of this task.</span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="no-tasks">No periodic tasks</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
