{% if snippets %}
    <table class="snippets-tbl">
        <thead>
            <tr>
                <th style="width: 30px;"></th>
                <th>Filename</th>
                <th class="snippet-description-col">Description</th>
                <th>Size</th>
                <th>Added at</th>
                <th>Reason</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for snippet in snippets %}
                <tr id="{{ snippet.filename }}"
                    {% if snippet.is_approved %}class="relativeTime" data-relative-date-value="{{ snippet.approved_at|utc_isoformat }}" data-relative-date-title-prefix="Approved "{% else %}title="Not approved"{% endif %}>
                    <td>
                        {% if snippet.is_approved %}
                            <i class="material-symbols-outlined unselectable" style="color: #8ACE00">check_circle</i>
                        {% else %}
                            {%- set download_before_approval = True -%}
                            <i class="material-symbols-outlined unselectable" style="color: gray;">unpublished</i>
                        {% endif %}
                    </td>
                    <td>{{ snippet.filename }}</td>
                    <td class="snippet-description-col" title="{{ snippet.description }}">{{ snippet.description|truncate(120) }}</td>
                    <td>{{ snippet.size|humanize_bytes }}</td>
                    <td class="relativeTime">{{ snippet.created_at|utc_isoformat }}</td>
                    <td>{{ snippet.reason }}</td>
                    <td class="actions-cell">
                        <div class="info-delete-container flex">
                            <a href="{{ snippet.filename }}" id="{{ snippet.filename }}-info">
                                <button title="Detail" class="material-symbols-outlined info-button">info</button>
                            </a>
                            {% include "snippets/partials/download-approve.html" %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data</p>
{% endif %}
