<h5>PBM Configuration</h5>
<input type="hidden" name="backup_config" value="{}">
<fieldset>
    <legend>1. Storage Configuration</legend>
    <div id="storage_configuration">
        <label for="storage_type">Storage Type:</label>
        <select id="storage_type" name="storage_type">
            <option value="s3">S3-compatible Storage</option>
            <option value="filesystem">Filesystem</option>
            <!-- out of scope
            <option value="azure">Azure Blob Storage</option>
            -->
        </select>
    </div>
    <div id="s3_options">
        <label for="s3_provider">S3 Provider:</label>
        <select id="s3_provider" name="backup_config.storage.s3.provider">
            <option value="aws">AWS</option>
            <option value="minio">MinIO</option>
            <option value="gcp">GCP</option>
        </select>
        <label for="s3_region">Region:</label>
        <input type="text" id="s3_region" name="storage_s3_region">
        <label for="s3_bucket">Bucket Name:</label>
        <input type="text" id="s3_bucket" name="storage_s3_bucket">
        <label for="s3_prefix">Prefix (Optional):</label>
        <input type="text" id="s3_prefix" name="storage_s3_prefix">
        <label for="s3_endpoint_url">Endpoint URL (Optional):</label>
        <input type="text" id="s3_endpoint_url" name="storage_s3_endpoint_url">
        <!-- Enabled this when requested, it requires dynamic entries
        <label for="s3_endpoint_url_map">Endpoint URL Map (Optional):</label>
        <input type="text" id="s3_endpoint_url_map" name="backup_config.storage.s3.endpoint_url_map">
-->
        <!-- To be added later
        <label for="s3_force_path_style">Force Path Style:</label>
        <input type="checkbox" id="s3_force_path_style" name="backup_config.storage.s3.force_path_style">
        Yes
        <label for="s3_access_key_id">Access Key ID:</label>
        <input type="text" id="s3_access_key_id" name="backup_config.storage.s3.access_key_id">
        <label for="s3_secret_access_key">Secret Access Key:</label>
        <input type="text" id="s3_secret_access_key" name="backup_config.storage.s3.secret_access_key">
        <label for="s3_session_token">Session Token (Optional):</label>
        <input type="text" id="s3_session_token" name="backup_config.storage.s3.session_token">
        <label for="s3_upload_part_size">Upload Part Size (Bytes, Optional):</label>
        <input type="number" id="s3_upload_part_size" name="backup_config.storage.s3.upload_part_size">
        <label for="s3_max_upload_parts">Max Upload Parts (Optional):</label>
        <input type="number" id="s3_max_upload_parts" name="backup_config.storage.s3.max_upload_parts">
        <label for="s3_storage_class">Storage Class (Optional):</label>
        <input type="text" id="s3_storage_class" name="backup_config.storage.s3.storage_class">
        <label for="s3_debug_log_levels">Debug Log Levels (Optional):</label>
        <input type="text" id="s3_debug_log_levels" name="backup_config.storage.s3.debug_log_levels">
        <label for="s3_insecure_skip_tls_verify">Insecure Skip TLS Verify:</label>
        <input type="checkbox" id="s3_insecure_skip_tls_verify" name="backup_config.storage.s3.insecure_skip_tls_verify">
        Yes
-->
    </div>
    <div id="filesystem_options" style="display: none;">
        <label for="filesystem_path">Filesystem Path:</label>
        <input type="text" id="filesystem_path" name="storage_filesystem_path">
    </div>
    <!-- out of scope
    <div id="azure_options" style="display: none;">
        <label for="azure_account">Account Name:</label>
        <input type="text" id="azure_account" name="backup_config.storage.azure.account_name">
        <label for="azure_container">Container Name:</label>
        <input type="text" id="azure_container" name="backup_config.storage.azure.container_name">
        <label for="azure_endpoint_url">Endpoint URL (Optional):</label>
        <input type="text" id="azure_endpoint_url" name="backup_config.storage.azure.endpoint_url">
        <label for="azure_prefix">Prefix (Optional):</label>
        <input type="text" id="azure_prefix" name="backup_config.storage.azure.prefix">
        <label for="azure_account_key">Account Key:</label>
        <input type="text" id="azure_account_key" name="backup_config.storage.azure.account_key">
    </div>
-->
    <!-- more S3 settings
    <label for="sse_algorithm">Server-Side Encryption Algorithm:</label>
    <input type="text" id="sse_algorithm" name="backup_config.storage.sse.algorithm">
    <label for="sse_kms_key_id">KMS Key ID (If SSE-KMS):</label>
    <input type="text" id="sse_kms_key_id" name="backup_config.storage.sse.kms_key_id">
    <label for="sse_customer_algorithm">SSE Customer Algorithm (If SSE-C):</label>
    <input type="text" id="sse_customer_algorithm" name="backup_config.storage.sse.customer_algorithm">
    <label for="sse_customer_key">SSE Customer Key (If SSE-C):</label>
    <input type="text" id="sse_customer_key" name="backup_config.storage.sse.customer_key">
    <label for="retryer_num_max_retries">Max Retries:</label>
    <input type="number" id="retryer_num_max_retries" name="backup_config.storage.retryer.num_max_retries">
    <label for="retryer_min_retry_delay">Min Retry Delay:</label>
    <input type="text" id="retryer_min_retry_delay" name="backup_config.storage.retryer.min_retry_delay">
    <label for="retryer_max_retry_delay">Max Retry Delay:</label>
    <input type="text" id="retryer_max_retry_delay" name="backup_config.storage.retryer.max_retry_delay">
-->
</fieldset>
<fieldset>
    <legend>2. Point-in-Time Recovery (PITR) Configuration</legend>
    <label class="checkbox" for="pitr_enabled">
        <span class="label">Enable PITR:</span>
        <input type="checkbox" id="pitr_enabled" name="pitr_enabled">
        <div class="checkmark">
            <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
            <span class="material-symbols-outlined checked">check_box</span>
        </div>
    </label>
    <label for="pitr_oplog_span_min">Oplog Span (Minutes):</label>
    <input type="number" id="pitr_oplog_span_min" name="pitr_oplog_span_min">
    <label for="pitr_compression">Compression:</label>
    <select id="pitr_compression" name="pitr_compression">
        <option value="gzip">gzip</option>
        <option value="snappy">snappy</option>
        <option value="lz4">lz4</option>
        <option value="s2">s2</option>
        <option value="pgzip">pgzip</option>
        <option value="zstd">zstd</option>
    </select>
</fieldset>
<!--
<fieldset>
    <legend>3. Backup Options</legend>
    <label for="backup_priority">Node Priority for Backup (Comma-separated, Optional):</label>
    <input type="text" id="backup_priority" name="backup_config.backup.priority">
    <label for="backup_compression">Backup Compression:</label>
    <select id="backup_compression" name="backup_config.backup.compression">
        <option value="gzip">gzip</option>
        <option value="snappy">snappy</option>
        <option value="lz4">lz4</option>
        <option value="s2">s2</option>
        <option value="pgzip">pgzip</option>
        <option value="zstd">zstd</option>
    </select>
    <label for="backup_compression_level">Backup Compression Level (Optional):</label>
    <input type="number" id="backup_compression_level" name="backup_config.backup.compression_level">
    <label for="backup_timeouts_starting_status">Starting Status Timeout (Seconds):</label>
    <input type="number" id="backup_timeouts_starting_status" name="backup_config.backup.timeouts.starting_status">
    <label for="backup_num_parallel_collections">Parallel Collections for Logical Backup:</label>
    <input type="number" id="backup_num_parallel_collections" name="backup_config.backup.num_parallel_collections">
</fieldset>
<fieldset>
    <legend>4. Restore Options</legend>
    <label for="restore_batch_size">Restore Batch Size:</label>
    <input type="number" id="restore_batch_size" name="backup_config.restore.batch_size">
</fieldset>
<fieldset>
    <legend>5. Logging Options (for pbm-agent)</legend>
    <label for="log_level">Log Level:</label>
    <select id="log_level" name="backup_config.pbm_agent_log.level">
        <option value="debug">debug</option>
        <option value="info">info</option>
        <option value="warn">warn</option>
        <option value="error">error</option>
    </select>
    <label for="log_output">Log Output:</label>
    <select id="log_output" name="backup_config.pbm_agent_log.output">
        <option value="stdout">stdout</option>
        <option value="file">file</option>
        <option value="syslog">syslog</option>
    </select>
    <div id="log_file_options">
        <label for="log_file_path">Log File Path (If Output is file):</label>
        <input type="text" id="log_file_path" name="backup_config.pbm_agent_log.file.path">
        <label for="log_file_rotate_size">Log File Rotate Size:</label>
        <input type="text" id="log_file_rotate_size" name="backup_config.pbm_agent_log.file.rotate_size">
        <label for="log_file_rotate_count">Log File Rotate Count:</label>
        <input type="number" id="log_file_rotate_count" name="backup_config.pbm_agent_log.file.rotate_count">
    </div>
</fieldset>
-->
