{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
{% extends "base.html.j2" %}
{% block title -%}
    Support Snippets
{%- endblock title %}
{% block style %}
    {% if snippets %}
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/snippets.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/saved.css') }}">
    {% endif %}
{% endblock style %}
{% block behaviours_optimized_extra %}
    <script src="{{ url_for('static', path='/js/relativeTime.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/snippets.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
{% endblock behaviours_optimized_extra %}
{% block main %}
    <section id="savedSnippets">
        <div class="flex">
            <h2>Snippets Manager</h2>
            {% if enable_snippets_refresh and user.is_admin %}
                <form action="{{ url_for('snippets_refresh') }}"
                      method="post"
                      style="align-self: center"
                      class="confirmable-form"
                      data-confirm-message="Are you sure you want to refresh the saved snippets now?"
                      title="Refresh snippets">
                    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
                    <button class="submitButton">
                        <span class="material-symbols-outlined">autorenew</span>
                    </button>
                </form>
            {% endif %}
        </div>
        {% include "snippets/partials/saved-snippets.html.j2" %}
    </section>
{% endblock main %}
