/* Footer */
footer {
	text-align: center;
	vertical-align: middle;
}
@media (max-width:960px) {
	body {
		>footer {
			grid-area: foot;
			background-color: #2C323E;
			border-radius: 0 0 4.5em 4.5em;
			color: #FFF;
			padding: 1em;
			border-bottom: 1em solid white;
			border-right: 1em solid white;
			border-left: 1em solid white;
			z-index: 1;
		}
	}
}
@media (min-width:961px) {
	body {
		>footer {
			grid-area: foot;
			background-color: #2C323E;
			border-radius: 0 0 4.5em 0;
			color: #FFF;
			padding: 1em;
			border-bottom: 1em solid white;
			border-right: 1em solid white;
		}
	}
}
@media (min-width:1281px) {
	body {
		>footer {
			grid-area: foot;
			background-color: #2C323E;
			border-radius: 0 0 4.5em 0;
			color: #FFF;
			padding: 1em;
			border-bottom: 1em solid white;
			border-right: 1em solid white;
		}
	}
}
