{% extends "base.html" %}
{% block title -%}
    PBM Backups - {{ task.name }}
{%- endblock title %}
{% block style %}
    <style>
        label+input[type=text] {
            display: block
        }

        table form {
            display: inline-block
        }

        table button {
            width: 2.2rem;
            height: 2.2rem
        }

        pre {
            white-space: break-spaces;
        }

        {{ syntax_highlight_css(style="sas") }}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/logs.css') }}">
{% endblock style %}
{% block behaviours_optimized_extra %}
    <script src="{{ url_for('static', path='/js/relativeTime.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    {% if history %}
        <script src="{{ url_for('static', path='/js/logs.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
    {% endif %}
{% endblock behaviours_optimized_extra %}
{% block main %}
    <table class="row section">
        <caption>Overview</caption>
        <thead>
            <tr>
                <th>Target</th>
                <th>Host</th>
                <th>Type</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ task.hostname }}</td>
                <td>{{ task.host }} ({{ task.port }})</td>
                <td>{{ task.backup_type }}</td>
                <td class="relativeTime">{{ task.created_at }}</td>
                <td class="relativeTime">{{ task.updated_at }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
    {% if running_tasks %}
        <section id="running-tasks">
            <h2>Running</h2>
            {% include "tasks/partials/running-tasks.html" %}
        </section>
    {% endif %}
    <section>
        <h2>Execution</h2>
        <h3>Parameters</h3>
        <table>
            <tbody>
                {% for k, v in task.meta.items() %}
                    <tr>
                        <th>{{ k }}</th>
                        <td>
                            {% if v is mapping %}
                                <ul>
                                    {% for j, w in v.items() %}<li>{{ j }}: {{ w }}</li>{% endfor %}
                                </ul>
                            {% elif v is iterable and v is not string %}
                                {# TODO: Refactor all these weird tests #}
                                <ul>
                                    {% for j, w in v[0].items() %}<li>{{ j }}: {{ w }}</li>{% endfor %}
                                </ul>
                            {% else %}
                                {{ v|syntax_highlight(style="sas") |safe }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h2>Stats</h2>
        {% if stats and stats.total %}
            <table class="responsive-table">
                <caption>Aggregated statistics for {{ task_name }}</caption>
                <thead>
                    <tr>
                        <th>Executions</th>
                        <th>Succeeded</th>
                        <th>Failed</th>
                        <th>Last Finished</th>
                        <th>
                            Avg Duration (<abbr title="seconds">s</abbr>)
                        </th>
                        <th>
                            Last Duration (<abbr>s</abbr>)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ stats.total }}</td>
                        <td>{{ stats.status.pass }}</td>
                        <td>{{ stats.status.fail }}</td>
                        <td class="relativeTime">{{ stats.last_finished_at }}</td>
                        <td>{{ stats.duration.average_seconds or 0|round(3) }}</td>
                        <td>{{ stats.duration.last_seconds or 0|round(3) }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>No data</p>
        {% endif %}
    </section>
    <section>
        <h2>History</h2>
        {% set history_tasks = history %}
        {% include "tasks/partials/completed-tasks.html" %}
    </section>
{% endblock main %}
