{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
<style>
.breadcrumb {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li a {
    text-decoration: none;
    background: none;
    color: var(--textPrimary);
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.breadcrumb li a:hover {
    background: none;
    color: var(--primaryMain);
}

.breadcrumb li a i {
    font-size: 1.2em;
}

.breadcrumb li:not(:last-child)::after {
    content: " > ";
    padding: 0 6px;
    color: var(--textDisabled);
}
</style>
{% if schema is defined or service is defined or node is defined %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href="{{ url_for('read_root') }}"><i class="material-symbols-outlined">home</i></a>
            </li>
            <li>
                <a href="{{ url_for('node_list') }}">Inventory</a>
            </li>
            {% if schema is defined %}
                <li>
                    <a href="{{ url_for('node_detail', node_id=schema.service.node.id) }}">{{ schema.service.node.name }}</a>
                </li>
                <li>
                    <a href="{{ url_for('service_detail', service_id=schema.service.id) }}">{{ schema.service.name }}</a>
                </li>
                <li>{{ schema.name }}</li>
            {% elif service is defined %}
                <li>
                    <a href="{{ url_for('node_detail', node_id=service.node.id) }}">{{ service.node.name }}</a>
                </li>
                <li>{{ service.name }}</li>
            {% elif node is defined %}
                <li>{{ node.name }}</li>
            {% endif %}
        </ul>
    </nav>
{% else %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href="{{ url_for('read_root') }}"><i class="material-symbols-outlined">home</i></a>
            </li>
            <li>Inventory</li>
        </ul>
    </nav>
{% endif %}
