{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
<form action="{{ url_for('service_create_for_node', node_id=node.id) }}"
      method="post">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    <fieldset>
        <legend>Create New Service</legend>
        <br>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <br>
        <div class="select">
            <label for="service_type">
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Type:</span>
                <select name="service_type" id="service_type" required>
                    <option value="mysql">MySQL</option>
                    <option value="postgresql">PostgreSQL</option>
                    <option value="mongodb">MongoDB</option>
                    <option value="external">External</option>
                </select>
            </label>
        </div>
        <br>
        {% if node.source %}
            <label for="external_id">External ID:</label>
            <input type="text" name="external_id" id="external_id">
        {% endif %}
        <br>
        <br>
        <label for="port">Port:</label>
        <input type="number" name="port" id="port">
        <br>
        <br>
        <label for="environment">Environment:</label>
        <input type="text" name="environment" id="environment">
        <br>
        <br>
    </fieldset>
    <br>
    <button class="contained large" type="submit">Create Service</button>
</form>
