<div style="display: flex;
            justify-content: space-between;
            align-items: center">
    <h2>{{ inventory_table_title }}</h2>
    {% if can_sync %}
        <form action="{{ inventory_sync_route }}"
              method="post"
              style="display: inline">
            <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
            <button {% if sync_is_running %}disabled{% endif %} class="icons">
                <span class="material-symbols-outlined">autorenew</span>
            </button>
        </form>
    {% endif %}
</div>
