{#
Copyright (C) 2026 Percona LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses />.
#}
<form action="{{ url_for('table_create_for_schema', schema_id=schema.id) }}"
      method="post">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    <fieldset>
        <legend>Create New Table</legend>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <label for="create">Create Statement:</label>
        <textarea name="create" id="create" rows="5" required></textarea>
    </fieldset>
    <button type="submit">Create Table</button>
</form>
