# Copyright (C) 2026 Percona LLC
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

"""Define the request/response models for the << display_name_doc >> script app."""

from pydantic import BaseModel


class << class_prefix >>Args(BaseModel):
    """Validate a script's execution arguments.

    The ``get_execution_model`` hook returns this model. Replace ``message`` with
    the parameters the scripts accept.

    :param message: An example execution parameter.
    """

    message: str


class << class_prefix >>ListRow(BaseModel):
    """Project a script into its list-row response.

    :param filename: The script filename, used as its API identifier.
    :param task_name: The Tasks-API task name the script executes under.
    """

    filename: str
    task_name: str


class << class_prefix >>ExecutionMeta(BaseModel):
    """Carry the execution meta posted to the Tasks API on execute.

    :param target: The executor host the script runs on.
    :param filename: The script filename to execute.
    :param sudo: Whether to run the script with elevated privileges.
    :param args: The validated execution arguments.
    """

    target: str
    filename: str
    sudo: bool
    args: dict[str, object]
