<!doctype html>
<html lang="en">
  <head>
      <title>{% block title %}The page with no name{% end %}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block meta %}
      <!-- Default meta block -->
      <!-- End meta block -->
      {% end %}
      <link rel="stylesheet" href="/static/fonts.css" media="screen,projection" />
      <!--<link rel="stylesheet" href="/static/themes/materialize/css/base.css" media="screen,projection" />-->
      {% block style %}
      {% end %}
      {% block behaviours %}{% end %}
  </head>

  <body class="has-fixed-sidenav">
      <header>
      {% block home %}<a href="/">Home</a>{% end %}
      {% block header %}
      <h1>{% block title %}The page with no name{% end %}</h1>
      {% end %}
      </header>

      <main>
      {% block sidebar %}
           {% include "menus/partials/sidebar.html" %}
      {% end %}
      {% block main %}
      <p>Nothing to see here, move along</p>
      {% end %}

      </main>

      <footer>
      {% block footer %}
      {% end %}
      <p><em>Copyright &copy; Percona LLC</em></p>
      </footer>

      {% block behaviours-optimized %}
      <script src="/static/jquery-3.1.1.min.js"></script>
      <script src="/static/themes/materialize/js/materialize.js"></script>
      <script>
          $(document).ready(function(){
              $('.sidenav').sidenav();
              $(".modal").modal();
              $('.collapsible').collapsible();
              $('.tabs').tabs();
              $('.dropdown-trigger').dropdown({ constrainWidth: false });
          });
      </script>
          {% block behaviours-optimized-extra %}
          <script>
            $(document).ready(function(){
              $("select").formSelect();
            });
          </script>
          {% end %}
      {% end %}
  </body>
</html>
