{% extends "base.html" %}
{% block title %}
    Home Dashboard
{% endblock title %}
{% block main %}
    <link rel="stylesheet"
          href="{{ url_for('static', path='/css/homepage.css') }}">
    {% if history or running_tasks %}
        <link rel="stylesheet" href="{{ url_for('static', path='/css/logs.css') }}">
    {% endif %}
    {% if periodic_tasks %}
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/scheduled.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/select2.min.css') }}">
    {% endif %}
    {% include "homepage/tasks.html" %}
    {% include "inventory/partials/inventory-metrics.html" %}
    {% include "tasks/partials/host-metrics.html" %}
{% endblock main %}
{% block behaviours_optimized_extra %}
    <script src="{{ url_for('static', path='/js/relativeTime.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    {% if history_tasks or running_tasks %}
        <script src="{{ url_for('static', path='/js/logs.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
    {% endif %}
{% endblock behaviours_optimized_extra %}
