{% extends "base.html" %}
{% block title %}Services Enablement Platform{% endblock %}

{% block home_link %}{% endblock %}
{% block title_prefix %}{% endblock %}

{% block main %}
{% if history or running_tasks %}
<link rel="stylesheet" href="/static/logs.css">
{% endif %}
{% if periodic_tasks %}
<link rel="stylesheet" href="/static/scheduled.css">
<link rel="stylesheet" href="/static/select2.min.css">
{% endif %}
    {% if widgets is defined and widgets|length > 0 %}
    <section id="widgets">
        {% for widget in widgets %}
            {% include "widget.html" %}
        {% endfor %}
    </section>
    {% endif %}
    <section id="running-tasks">
        <h2>Running</h2>
        {% include "tasks/partials/running-tasks.html" %}
    </section>
    <section id="pending-tasks">
        <h2>Pending</h2>
        {% include "alters/partials/pending-tasks.html" %}
    </section>
    <section id="periodic-tasks">
        <h2>Periodic Tasks</h2>
        {% include "archiver/partials/scheduled-tasks.html" %}
    </section>
    {% include "inventory/partials/inventory-metrics.html" %}
    {% include "tasks/partials/host-metrics.html" %}
{% endblock %}
{% block behaviours_optimized_extra %}
    {% if history_tasks or running_tasks %}
        <script src="/static/logs.js"></script>
    {% endif %}
{% endblock %}
