{% set user = data.get("user") %}
{% set user_is_admin = isinstance(user, dict) and user["isAdmin"] %}
{% if not widget %}
    {% if user_is_admin %}
    <p class="info">
        No data for widget:
        <code>
            {{ widget }}
        </code>
    </p>
    {% end %}
{% elif not {"heading", "data"}.issubset(set(widget.keys())) %}
    <p class="warning">
        There is an issue with the widget definition.
        {% if user_is_admin %}
        <code>
            {{ widget }}
        </code>
        {% end %}
    </p>
{% else %}
    {% set layout = widget.get("layout") %}
    {% set multipart = widget.get("multipart") %}
    {% set widget_data = [widget.get("data")] if not multipart else widget.get("data") %}
    {% if not widget.get("data") %}
        <h2>{{ widget["heading"] }}</h2>
        <p>No data</p>
    {% else %}
        {% if multipart %}
        <h2>{{ widget["heading"] }}</h2>
        {% end %}
        {% if layout == "table" %}
            {% for widget_item in widget_data %}
                <table>
                    <caption>{{ widget_item["heading"] }}</caption>
                    {% if widget_item.get("data") %}
                    <thead>

                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>

                    </tfoot>
                    {% else %}
                    <tr><td>No data</td></tr>
                    {% end %}
                </table>
            {% end %}
        {% elif layout == "grid" and isinstance(widget["data"], dict) %}
        <h2>{{ widget["heading"] }}</h2>
        <dl class="grid">
            {% for dt, dd in widget["data"].items() %}
            <dt>{{ dt.replace("_", " ").capitalize() }}</dt>
                {% if isinstance(dd, dict) %}
                    <dd><dl>
                    {% for ddt, ddd in dd.items() %}
                       <dt>{{ ddt }}</dt>
                       <dd>{{ ddd }}</dd>
                    {% end %}
                    </dl></dd>
                {% else %}
                    <dd>{{ dd }}</dd>
                {% end %}
            {% end %}
        </dl>
        {% elif layout == "grid" and isinstance(widget["data"], list) %}
        <ul class="grid">

        </ul>
        {% else %}
        <div class="widget">
            <h2>{{ widget["heading"] }}</h2>
        </div>
        {% end %}
    {% end %}
{% end %}