{% extends "base.html" %}
{% block title -%}
    PBM Restores - {{ task.name }}
{%- endblock title %}
{% block style %}
    <style>
    label+input[type=text] {
        display: block
    }

    pre {
        white-space: break-spaces;
    }

    {{ syntax_highlight_css(style="sas") }}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/logs.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', path='/css/chain-builder.css') }}">
{% endblock style %}
{% block behaviours_optimized_extra %}
    <script src="{{ url_for('static', path='/js/relativeTime.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/logs.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    <script src="{{ url_for('static', path='/js/chain-builder.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
{% endblock behaviours_optimized_extra %}
{% block sticky %}
    <div class="toggle-btn-group"
         role="group"
         aria-label="Backup and Restore navigation">
        <a href="{{ url_for('pbm_backups_index') }}" class="toggle-btn">Backup</a>
        <a href="{{ url_for('pbm_restores_index') }}" class="toggle-btn active">Restore</a>
    </div>
{% endblock sticky %}
{% block main %}
    <h1>PBM Restores: {{ task.name }}</h1>
    <h5>Executor Host: {{ task.hostname }}</h5>
    <table data-table>
        <caption>Overview</caption>
        <thead>
            <tr>
                <th>Executor Host</th>
                <th>Restore Type</th>
                <th>Backup Source</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Created by</th>
                <th>Last Updated by</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ task.hostname }}</td>
                <td>{{ task.restore_type }}</td>
                <td>{{ task.backup_source }}</td>
                <td class="relativeTime">{{ task.created_at }}</td>
                <td class="relativeTime">{{ task.updated_at }}</td>
                <td>{{ user_id_to_username.get(task["created_by"], task["created_by"]) or '' }}</td>
                <td>{{ user_id_to_username.get(task["last_updated_by"], task["last_updated_by"]) or '' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7"></td>
            </tr>
        </tfoot>
    </table>
    {% include "tasks/partials/run-python-form-restore_mongo.html" %}
    {% if running_tasks %}
        <section id="running-tasks">
            <h2>Running</h2>
            {% include "tasks/partials/running-tasks.html" %}
        </section>
    {% endif %}
    <section>
        <h2>Configuration</h2>
        <table>
            <tbody>
                {% for k, v in task.meta.items() %}
                    {% if k == 'config' %}
                        <tr>
                            <th></th>
                            <td>
                                {% if v is mapping %}
                                    <ul>
                                        {% for j, w in v.items() %}<li>{{ j }}: {{ w }}</li>{% endfor %}
                                    </ul>
                                {% elif v is iterable and v is not string %}
                                    {# TODO: Refactor all these weird tests #}
                                    <ul>
                                        {% for j, w in v[0].items() %}<li>{{ j }}: {{ w }}</li>{% endfor %}
                                    </ul>
                                {% else %}
                                    {{ v|syntax_highlight(style="sas") |safe }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
    <br>
    <br>
    {% set pending_tasks = history|selectattr("status", "equalto", "pending")|list %}
    {% if pending_tasks %}
        <section id="pending-tasks">
            <h2>Pending</h2>
            {% include "tasks/partials/pending-tasks.html" %}
        </section>
        <br>
        <br>
    {% endif %}
    {% if history_logical %}
        <section>
            <h2>Logical Restore Runs</h2>
            {% set history_tasks = history_logical %}
            {% include "tasks/partials/completed-tasks.html" %}
        </section>
        <br>
        <br>
    {% endif %}
    {% if history_physical %}
        <section>
            <h2>Physical Restore Runs</h2>
            {% set history_tasks = history_physical %}
            {% include "tasks/partials/completed-tasks.html" %}
        </section>
        <br>
        <br>
    {% endif %}
    {% if history_pbm_list %}
        <section>
            <h2>PBM List Runs</h2>
            {% set history_tasks = history_pbm_list %}
            {% include "tasks/partials/completed-tasks.html" %}
        </section>
        <br>
        <br>
    {% endif %}
    {% if history_force_resync %}
        <section>
            <h2>Force Resync Runs</h2>
            {% set history_tasks = history_force_resync %}
            {% include "tasks/partials/completed-tasks.html" %}
        </section>
        <br>
        <br>
    {% endif %}
    <section>
        <h2>Config Sync</h2>
        {% set history_tasks = history %}
        {% include "tasks/partials/completed-tasks.html" %}
    </section>
{% endblock main %}
