{% extends "base.html" %}
{% block title -%}
    Restores
{%- endblock title %}
{% block style %}
    {% if history_tasks or running_tasks %}
        <link rel="stylesheet" href="{{ url_for('static', path='/css/logs.css') }}">
    {% endif %}
    {% if tasks %}
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/saved.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/scheduled.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', path='/css/select2.min.css') }}">
    {% endif %}
{% endblock style %}
{% block behaviours_optimized_extra %}
    <script src="{{ url_for('static', path='/js/relativeTime.js') }}"
            nonce="{{ request.state.csp_nonce }}"></script>
    {% if history_tasks or running_tasks %}
        <script src="{{ url_for('static', path='/js/logs.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
    {% endif %}
    {% if tasks %}
        <script nonce="{{ request.state.csp_nonce }}">
            const taskNames = {{ tasks|map(attribute='name')|list|tojson }};
            const availableTimezones = {{ AVAILABLE_TIMEZONES|tojson }};
        </script>
        <script src="{{ url_for('static', path='/js/cronstrue.min.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
        <script src="{{ url_for('static', path='/js/select2.min.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
        <script src="{{ url_for('static', path='/js/saved.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
        <script src="{{ url_for('static', path='/js/scheduled.js') }}"
                nonce="{{ request.state.csp_nonce }}"></script>
    {% endif %}
{% endblock behaviours_optimized_extra %}
{% block sticky %}
    <div class="toggle-btn-group"
         role="group"
         aria-label="Backup and Restore navigation">
        <a href="{{ url_for('pbm_backups_index') }}" class="toggle-btn">Backup</a>
        <a href="{{ url_for('pbm_restores_index') }}" class="toggle-btn active">Restore</a>
    </div>
{% endblock sticky %}
{% block main %}
    <p>Perform a restore, currently only supporting PBM s3 based backups.</p>
    {% if not tasks and not history_tasks %}
        {% set modal_required = False %}
        <h2>Configure a restore task</h2>
        {% if services|length < 1 %}
            <p>Unable to find suitable database instances.</p>
        {% elif executor_hosts|length < 1 %}
            <p>Unable to find suitable executor hosts.</p>
        {% else %}
            {% include "/backup_mongo/restore/partials/create-form.html" %}
    {% endif %}
    {% else %}
    {% include "/backup_mongo/restore/partials/create-form.html" %}
        {% set modal_required = True %}
        {% if running_tasks %}
            <section id="running-tasks">
                <h2>Running</h2>
                {% include "tasks/partials/running-tasks.html" %}
            </section>
        {% endif %}
        <section id="saved-tasks">
            <h2>Saved</h2>
            {% include "backup_mongo/restore/partials/saved-tasks.html" %}
            <h2>Periodic Tasks</h2>
            {% include "tasks/partials/scheduled-tasks.html" %}
            <h3>Create a restore process</h3>
            {% if executor_hosts|length < 1 %}
                <p>Unable to find suitable executor hosts.</p>
            {% else %}
                {% include "backup_mongo/restore/partials/create-form.html" %}
            {% endif %}
        </section>
        <br>
        <br>
        <section id="pending-tasks">
            <h2>Pending</h2>
            {% include "tasks/partials/pending-tasks.html" %}
        </section>
        <br>
        <br>
        <section id="completed-tasks">
            <h2>History</h2>
            {% include "tasks/partials/completed-tasks.html" %}
        </section>
    {% endif %}
{% endblock main %}
