-----------
{% set form_class = "modal" if modal_required else "" %}
<style>
    fieldset input,
    select {
        margin-top: 1em;
    }

    fieldset div>label:nth-child(n+2) {
        margin-left: 1.5em;
    }

    #src_query_container,
    #dst_file_container {
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
        opacity: 1;
        max-height: 100px; /* Adjust based on actual content */
    }

    #src_query_container.hidden,
    #dst_file_container.hidden {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }

    #destination_container {
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
        opacity: 1;
        max-height: 500px; /* Adjust based on actual content height */
    }

    #destination_container.hidden {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }

    #swp_table_suffix_container {
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
        opacity: 1;
        max-height: 100px; /* Adjust based on actual content */
    }
    
    #swp_table_suffix_container.hidden {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }
</style>
<form action="" method="post" class="{{ form_class }}">
    <legend>Main options</legend>
    <fieldset>
        <legend>Executor Host</legend>
        <label for="hostname">Select host</label>
        {% if executor_hosts|length == 1 %}
        {% set single_service = executor_hosts[0] %}
        <select id="hostname" name="hostname" disabled>
            <option value="{{ single_service }}" selected>{{ single_service }}</option>
        </select>
        <input type="hidden" name="hostname" value="{{ single_service }}">
        {% else %}
        <select id="hostname" name="hostname">
            {% for executor_host in executor_hosts %}
            <option value="{{ executor_host }}">{{ executor_host }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </fieldset>
    <fieldset style="display: flex; flex-flow: column;">
        <legend>Archive Type</legend>
        <div>
            <label for="alias">Task name
                <input type="text" id="alias" name="alias" class="validate" required />
            </label>
            <label for="swap_drop">Swap Drop
                <select id="swap_drop" name="swap_drop">
                    <option value="0">Standard purge</option>
                    <option value="1">Swap and drop</option>
                    <option value="2">Swap-archive-drop</option>
                </select>
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Source details</legend>
        <div>
            <label for="service_id">Select a database host
                {% if mysql_services|length == 1 %}
                {% set single_service = mysql_services[0] %}
                <select id="service_id" name="service_id" disabled>
                    <option value="{{ single_service.id }}" selected>{{ single_service.name }}</option>
                </select>
                <input type="hidden" name="service_id" value="{{ single_service.id }}">
                {% else %}
                <select id="service_id" name="service_id" required>
                    <option value="" selected>Select a database host</option>
                    {% for service in mysql_services %}
                    <option value="{{ service.id }}">{{ service.name }} ({{ service.node_id }})</option>
                    {% endfor %}
                </select>
                {% endif %}
            </label>
        </div>
        <div style="display: flex;">
            <label for="source_db_id">Schema
                <select id="source_db_id" name="source_db_id" class="validate" required>
                    <option value="">Select a schema</option>
                </select>
            </label>
            <label for="source_table_id">Table
                <select id="source_table_id" name="source_table_id" class="validate" required>
                    <option value="">Select a table</option>
                </select>
            </label>
            <div id="src_query_container" style="width: fit-content; margin-left: 1em;">
            <label>OR</label>
                <label for="src_query">Source Query
                    <input type="text" id="src_query" name="src_query" class="validate" required />
                </label>
            </div>
        </div>
        <div id="swp_table_suffix_container">
            <label for="swp_table_suffix">Swap Table Suffix
                <input type="text" id="swp_table_suffix" name="swp_table_suffix" class="validate" required />
            </label>
        </div>
        <div>
            <label for="where">Where condition
                <input type="text" id="where" name="where" class="validate" required />
            </label>
            <label for="prg_use_index">Use_Index
                <input type="text" id="prg_use_index" name="prg_use_index" class="validate"/>
            </label>
            <label for="prg_limit">Limit
                <input type="number" id="prg_limit" name="prg_limit" class="validate" value="1000"/>
            </label>
            <label for="prg_sleep">Sleep
                <input type="number" id="prg_sleep" name="prg_sleep" class="validate" value="1"/>
            </label>
            <label for="prg_extra_args">Extra args
                <input type="text" id="prg_extra_args" name="prg_extra_args" class="validate" required />
            </label>
            <label for="prg_disable_binlog">Disable Binlog
                <input type="checkbox" id="prg_disable_binlog" name="prg_disable_binlog" class="validate" value="1" />
            </label>
        </div>
        <label for="prg_purge">DELETE_DATA
            <input type="checkbox" id="prg_purge" name="prg_purge" class="validate" value="1" />
        </label>
    </fieldset>
    <fieldset id="destination_fieldset">
        <legend>Destination details</legend>
        <div id="destination_container" style="display: flex;">
            <label for="dest_table_id">Destination Database
                <select id="dest_table_id" name="dest_table_id" class="validate" disabled required>
                    <option value="">Select a table</option>
                </select>
            </label>
            <div id="dst_file_container" style="width: fit-content;">
                <label>OR</label>
                <label for="dst_file" >Destination File
                    <input type="text" id="dst_file" name="dst_file" class="validate" required />
                </label>
            </div>
        </div>
    </fieldset>
    <button type="submit">Create</button>
    <button type="reset">Reset</button>
</form>

{% set serviceSchemas = {} %}
{% for service in mysql_services %}
{% set schemas = {} %}
{% for schema in service.schemas %}
{% set tables = {} %}
{% for table in schema.tables %}
{% do tables.update({table.id: table.name}) %}
{% endfor %}
{% do schemas.update({schema.id: {"name": schema.name, "tables": tables}}) %}
{% endfor %}
{% do serviceSchemas.update({service.id: schemas}) %}
{% endfor %}

<script type="text/javascript">
    const serviceSchemas = {{ serviceSchemas | tojson }};
    const connectToSelect = document.getElementById('service_id');
    const schemaSelect = document.getElementById('source_db_id');
    const sourceTableSelect = document.getElementById('source_table_id');
    const destTableSelect = document.getElementById('dest_table_id');
    const dstFileInput = document.getElementById('dst_file');
    const swapDropSelect = document.getElementById('swap_drop');
    const destinationFieldset = document.getElementById('destination_fieldset');
    const dstFileContainer = document.getElementById('dst_file_container');
    const srcQueryInput = document.getElementById('src_query');
    const srcQueryContainer = document.getElementById('src_query_container');
    const destinationContainer = document.getElementById('destination_container');
    const prgPurgeCheckbox = document.getElementById('prg_purge');
    const swpTableSuffixContainer = document.getElementById('swp_table_suffix_container');
    const swpTableSuffixInput = document.getElementById('swp_table_suffix');

    function populateSchemas(selectedService) {
        schemaSelect.innerHTML = '<option value="">Select a schema</option>';
        sourceTableSelect.innerHTML = '<option value="">Select a table</option>';
        destTableSelect.innerHTML = '<option value="">Select a table</option>';

        if (selectedService && serviceSchemas[selectedService]) {
            const schemas = Object.entries(serviceSchemas[selectedService]);
            if (schemas.length > 0) {
                for (const [schemaId, schema] of schemas) {
                    const option = document.createElement('option');
                    option.value = schemaId;
                    option.textContent = schema.name;
                    schemaSelect.appendChild(option);
                    if (srcQueryInput.value === '')
                        schemaSelect.disabled = false;
                }
                if (schemas.length === 1) {
                    const [singleSchemaId, _] = schemas[0]
                    schemaSelect.value = singleSchemaId;
                    addHiddenInput(schemaSelect);
                    populateSourceTables(selectedService, singleSchemaId);
                }
            }
        }
    }

    function populateTables(tableSelect, tables) {
        if (tables.length > 0) {
            for (const [tableId, tableName] of tables) {
                const option = document.createElement('option');
                option.value = tableId;
                option.textContent = tableName;
                tableSelect.appendChild(option);
                tableSelect.disabled = false;
            }
            if (tables.length === 1) {
                const [singleTableId, _] = tables[0]
                tableSelect.value = singleTableId;
                if (swapDropSelect.value !== '1' || tableSelect.id !== 'dest_table_id') {
                    addHiddenInput(tableSelect);
                }
            }
        }
    }

    function populateSourceTables(selectedService, selectedSchema) {
        sourceTableSelect.innerHTML = '<option value="">Select a table</option>';
        destTableSelect.innerHTML = '<option value="">Select a table</option>';

        if (selectedSchema && serviceSchemas[selectedService][selectedSchema]) {
            const tables = Object.entries(serviceSchemas[selectedService][selectedSchema]["tables"]);
            populateTables(sourceTableSelect, tables);
            if (tables.length === 1) {
                const [singleTableId, _] = tables[0]
                sourceTableSelect.value = singleTableId;
                addHiddenInput(sourceTableSelect);
                populateDestTables(selectedService, selectedSchema, singleTableId);
            }
        }
    }

    function populateDestTables(selectedService, selectedSchema, selectedSourceTable) {
        destTableSelect.innerHTML = '<option value="">Select a table</option>';

        if (selectedSchema && selectedSourceTable && serviceSchemas[selectedService][selectedSchema]) {
            let tables = Object.entries(serviceSchemas[selectedService][selectedSchema]["tables"]);
            tables = tables.filter(table => table[0] !== selectedSourceTable)
            populateTables(destTableSelect, tables);

            if (tables.length === 1) {
                const [singleTableId, _] = tables[0];
                destTableSelect.value = singleTableId;
                if (swapDropSelect.value !== '1') {
                    addHiddenInput(destTableSelect);
                }
            }
        }
    }

    connectToSelect.addEventListener('change', function () {
        const selectedService = this.value;
        const hiddenSchemaInput = document.getElementById("source_db_id_hidden");
        hiddenSchemaInput?.parentNode?.removeChild(hiddenSchemaInput);
        populateSchemas(this.value);
        updateDestinationFieldset();
        toggleSourceQueryInput();
        toggleDstFileContainer();
        toggleDestTableSelect()
    });

    schemaSelect.addEventListener('change', function () {
        const selectedService = connectToSelect.value;
        const selectedSchema = this.value;
        const hiddenTableInput = document.getElementById("source_table_id_hidden");
        hiddenTableInput?.parentNode?.removeChild(hiddenTableInput);
        populateSourceTables(connectToSelect.value, this.value);
        updateDestinationFieldset();
    });



    sourceTableSelect.addEventListener('change', function () {
        const selectedService = connectToSelect.value;
        const selectedSchema = schemaSelect.value;
        const selectedTable = this.value;
        const hiddenTableInput = document.getElementById("dest_table_id_hidden");
        hiddenTableInput?.parentNode?.removeChild(hiddenTableInput);
        populateDestTables(connectToSelect.value, schemaSelect.value, this.value);
        updateDestinationFieldset();
        toggleDstFileContainer();
        toggleDestTableSelect()
    });



    function updateDestinationFieldset() {
        if (prgPurgeCheckbox.checked || swapDropSelect.value === '1') {
            destinationContainer.classList.add('hidden');
            destTableSelect.disabled = true;
            dstFileInput.disabled = true;
            removeHiddenInput('dest_table_id');
            removeHiddenInput('dst_file');
        } else {
            destinationContainer.classList.remove('hidden');
            destTableSelect.disabled = false;
            dstFileInput.disabled = false;
            destTableSelect.setAttribute('name', 'dest_table_id');
            dstFileInput.setAttribute('name', 'dst_file');

            if (destTableSelect.disabled && destTableSelect.value) {
                addHiddenInput(destTableSelect);
            }
            if (dstFileInput.disabled && dstFileInput.value) {
                addHiddenInput(dstFileInput);
            }
        }
    }

    function removeHiddenInput(inputName) {
        const hiddenInput = document.querySelector(`input[type="hidden"][name="${inputName}"]`);
        if (hiddenInput) {
            hiddenInput.parentNode.removeChild(hiddenInput);
        }
    }

    function addHiddenInput(inputElement) {
        removeHiddenInput(inputElement.name);
        const hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = inputElement.name;
        hiddenInput.value = inputElement.value;
        hiddenInput.id = `${inputElement.id}_hidden`;
        inputElement.insertAdjacentElement('afterend', hiddenInput);
    }

    
    function toggleSchemaAndTable() {
        if (srcQueryInput.value.trim() !== '') {
            schemaSelect.disabled = true;
            sourceTableSelect.disabled = true;
            schemaSelect.removeAttribute('required');
            sourceTableSelect.removeAttribute('required');
            schemaSelect.value = '';
            sourceTableSelect.value = '';
            schemaSelect.removeAttribute('name');
            sourceTableSelect.removeAttribute('name');
        } else {
            schemaSelect.disabled = false;
            sourceTableSelect.disabled = false;
            schemaSelect.setAttribute('required', 'required');
            sourceTableSelect.setAttribute('required', 'required');
            schemaSelect.name = 'source_db_id';
            sourceTableSelect.name = 'source_table_id';
        }
    }
    
    function toggleSourceQueryInput() {
        if (schemaSelect.value !== '' && sourceTableSelect.value !== '') {
            srcQueryInput.disabled = true;
            srcQueryInput.removeAttribute('required');
            srcQueryInput.value = '';
            srcQueryInput.removeAttribute('name');
            srcQueryContainer.classList.add('hidden');
        } else {
            srcQueryInput.disabled = false;
            srcQueryInput.setAttribute('required', 'required');
            srcQueryInput.name = 'src_query';
            srcQueryContainer.classList.remove('hidden');
        }
    }

    function togglePrgPurgeCheckbox() {
        if (swapDropSelect.value !== '1') {
            prgPurgeCheckbox.disabled = false
            return;
        }
        prgPurgeCheckbox.disabled = true;
    }

    function toggleSwpTableSuffix() {
        if (swapDropSelect.value === '2') {
            swpTableSuffixContainer.classList.remove('hidden');
            swpTableSuffixInput.disabled = false;
            swpTableSuffixInput.setAttribute('name', 'swp_table_suffix');
        } else {
            swpTableSuffixContainer.classList.add('hidden');
            swpTableSuffixInput.disabled = true;
            swpTableSuffixInput.removeAttribute('name');
        }
    }
    function toggleDstFileContainer() {
        if (destTableSelect.value !== '') {
            dstFileContainer.classList.add('hidden');
            dstFileInput.disabled = true;
            dstFileInput.value = '';
            dstFileInput.removeAttribute('name');
        } else {
            dstFileContainer.classList.remove('hidden');
            dstFileInput.disabled = false;
            dstFileInput.setAttribute('name', 'dst_file');
        }
    }

    function toggleDestTableSelect() {
        if (dstFileInput.value.trim() !== '') {
            destTableSelect.disabled = true;
            destTableSelect.value = '';
            destTableSelect.removeAttribute('name');
            removeHiddenInput('dest_table_id')
        } else {
            destTableSelect.disabled = false;
            destTableSelect.setAttribute('name', 'dest_table_id');
            addHiddenInput(destTableSelect)
        }
    }


    swapDropSelect.addEventListener('change', function () {
        togglePrgPurgeCheckbox()
        updateDestinationFieldset();
        toggleSwpTableSuffix();
        if (swapDropSelect.value !== '1' && destTableSelect.disabled && destTableSelect.value) {
            addHiddenInput(destTableSelect);
        }
    });

    
    srcQueryInput.addEventListener('input', function() {
        toggleSchemaAndTable();
    });
    
    schemaSelect.addEventListener('change', function() {
        toggleSourceQueryInput();
    });

    sourceTableSelect.addEventListener('change', function() {
        toggleSourceQueryInput();
    });

    prgPurgeCheckbox.addEventListener('change', function () {
        updateDestinationFieldset();
    });

    destTableSelect.addEventListener('change', function () {
        toggleDstFileContainer();
    });

    dstFileInput.addEventListener('input', function () {
        toggleDestTableSelect();
    });

    window.addEventListener('DOMContentLoaded', function () {
        if (connectToSelect.options.length === 1) {
            const singleHost = connectToSelect.options[0].value;
            populateSchemas(singleHost);
        }
        updateDestinationFieldset();
        toggleSchemaAndTable();
        toggleSourceQueryInput();
        toggleDstFileContainer();
        toggleDestTableSelect();
        toggleSwpTableSuffix();
    });
</script>
