{% set form_class = "modal" if modal_required else "" %}
<form action="" method="post" class="{{ form_class }}">
    <legend>Main options</legend>
    <fieldset>
        <legend>Executor Host</legend>
        <label for="hostname">Select host</label>
        {% if executor_hosts|length == 1 %}
            {% set single_host = executor_hosts[0] %}
            <select id="hostname" name="hostname" disabled>
                <option value="{{ single_host }}" selected>{{ single_host }}</option>
            </select>
            <input type="hidden" name="hostname" value="{{ single_host }}">
        {% else %}
            <select id="hostname" name="hostname">
                {% for executor_host in executor_hosts %}
                <option value="{{ executor_host }}">{{ executor_host }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Source details</legend>
        <label for="alias">Task name
            <input type="text" id="alias" name="alias" class="validate" required/>
        </label>
        <label for="connect_to">Select a database host
        {% if mysql_hosts|length == 1 %}
            {% set single_host = mysql_hosts[0] %}
            <select id="connect_to" name="connect_to" disabled>
                <option value="{{ single_host.address }}" selected>{{ single_host.name }}</option>
            </select>
            <input type="hidden" name="connect_to" value="{{ single_host.address }}">
        {% else %}
            <select id="connect_to" name="connect_to">
                <option value="" selected>Select a database host</option>
                {% for host in mysql_hosts %}
                <option value="{{ host.address }}">{{ host.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
        </label>
        <fieldset>
            <legend>Data</legend>
            <label for="source_db">Schema
                <select id="source_db" name="source_db" class="validate" disabled>
                    <option value="">Select a schema</option>
                </select>
            </label>
            <label for="source_table">Table
                <select id="source_table" name="source_table" class="validate" disabled>
                    <option value="">Select a table</option>
                </select>
            </label>
            <label for="where">Where condition
                <input type="text" id="where" name="where" class="validate" required/>
            </label>
        </fieldset>
    </fieldset>
    <fieldset>
        <legend>Destination details</legend>
        <label for="dest_table">Name
            <select id="dest_table" name="dest_table" class="validate" disabled>
                <option value="">Select a table</option>
            </select>
        </label>
    </fieldset>
    <button type="submit">Create</button>
    <button type="reset">Reset</button>
</form>

{% set hostSchemas = {} %}
{% for host in mysql_hosts %}
    {% set schemas = {} %}
    {% for schema in host.schemas %}
        {% set tables = schema.tables | map(attribute='name') | list %}
        {% set _ = schemas.update({schema.name: tables}) %}
    {% endfor %}
    {% set _ = hostSchemas.update({host.address: schemas}) %}
{% endfor %}

<script type="text/javascript">
    const hostSchemas = {{ hostSchemas | tojson }};
    const connectToSelect = document.getElementById('connect_to');
    const schemaSelect = document.getElementById('source_db');
    const tableSelect = document.getElementById('source_table');
    const destTableSelect = document.getElementById('dest_table');

    function populateSchemas(selectedHost) {
        schemaSelect.disabled = true;
        schemaSelect.innerHTML = '<option value="">Select a schema</option>';
        tableSelect.disabled = true;
        tableSelect.innerHTML = '<option value="">Select a table</option>';

        if (selectedHost && hostSchemas[selectedHost]) {
            const schemas = Object.keys(hostSchemas[selectedHost]);
            if (schemas.length > 0) {
                schemas.forEach(function (schemaName) {
                    const option = document.createElement('option');
                    option.value = schemaName;
                    option.textContent = schemaName;
                    schemaSelect.appendChild(option);
                    schemaSelect.disabled = false;
                });
                if (schemas.length === 1) {
                    schemaSelect.value = schemas[0];
                    schemaSelect.disabled = true;
                    schemaSelect.insertAdjacentHTML("afterend", `<input id="schema_name_hidden" type="hidden" name="source_db" value="${schemaSelect.value}">`)
                    populateTables(selectedHost, schemas[0]);
                }
            }
        }
    }

    function populateTables(selectedHost, selectedSchema) {
        tableSelect.disabled = true;
        tableSelect.innerHTML = '<option value="">Select a table</option>';

        if (selectedSchema && hostSchemas[selectedHost][selectedSchema]) {
            const tables = hostSchemas[selectedHost][selectedSchema];
            if (tables.length > 0) {
                tables.forEach(function (tableName) {
                    const option = document.createElement('option');
                    option.value = tableName;
                    option.textContent = tableName;
                    tableSelect.appendChild(option);
                    tableSelect.disabled = false;
                });
                if (tables.length === 1) {
                    tableSelect.value = tables[0];
                    tableSelect.disabled = true;
                    tableSelect.insertAdjacentHTML("afterend", `<input id="table_name_hidden" type="hidden" name="source_table" value="${tableSelect.value}">`)
                }
            }
        }
    }

    connectToSelect.addEventListener('change', function() {
        const selectedHost = this.value;
        const hiddenSchemaInput = document.getElementById("schema_name_hidden");
        hiddenSchemaInput?.parentNode?.removeChild(hiddenSchemaInput);
        populateSchemas(selectedHost);
    });

    schemaSelect.addEventListener('change', function() {
        const selectedHost = connectToSelect.value;
        const selectedSchema = this.value;
        const hiddenTableInput = document.getElementById("table_name_hidden");
        hiddenTableInput?.parentNode?.removeChild(hiddenTableInput);
        populateTables(selectedHost, selectedSchema);
    });

    window.addEventListener('DOMContentLoaded', function() {
        if (connectToSelect.options.length === 1) {
            const singleHost = connectToSelect.options[0].value;
            populateSchemas(singleHost);
        }
    });

    tableSelect.addEventListener('change', function () {
        const selectedHost = connectToSelect.value;
        const selectedSchema = schemaSelect.value;
        const selectedTable = this.value;
        // Reset table select
        destTableSelect.disabled = true;
        destTableSelect.innerHTML = '<option value="">Select a table</option>';

        if (selectedTable && hostSchemas[selectedHost][selectedSchema]) {
            const tables = hostSchemas[selectedHost][selectedSchema];
            const updatedTables = tables.filter(table => table !== selectedTable);
            if (updatedTables.length > 0) {
                destTableSelect.disabled = false;
                updatedTables.forEach(function (tableName) {
                    const option = document.createElement('option');
                    option.value = tableName;
                    option.textContent = tableName;
                    destTableSelect.appendChild(option);
                });
            }
        }
    });
</script>
