{% if pending_tasks %}
<table class="responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Host</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for archive in pending_tasks %}
    {% set archive_name = archive["name"] %}
    <tr>
      <td>{{ archive_name }}</td>
      <td>{{ archive['execution_request']['target'] }}</td>
      <td>{{ archive['created_at'] }}</td>
      <td>
        <a href="details/{{ archive_name }}"><i class="icons">visibility</i></a>
        <a href="delete/{{ archive['name'] }}"><i class="icons">delete forever</i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No data</p>
{% endif %}
