{% if running_tasks %}
<table class="responsive-table">
  <thead>
     <tr>
       <th>Name</th>
       <th>Host</th>
       <th>Start At</th>
       <th>Actions</th>
     </tr>
  </thead>
  <tbody>
     {% for archive in running_tasks %}
     {% set archive_name = archive["name"] %}
     <tr>
       <td>{{ archive_name }}</td>
       <td>{{ archive['execution_request']['target'] }}</td>
       <td>{{ archive['updated_at'] }}</td>
       <td>
         <a href="/archive/details/{{ archive_name }}"><i class="icons">visibility</i></a>
         <i class="icons">cancel</i>
       </td>
     </tr>
     {% end %}
  </tbody>
</table>
{% else %}
<p>No data</p>
{% end %}
