{% if tasks %}
    <table data-table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Source Table</th>
                <th>Destination</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr id="{{ task.name }}">
                    <td>{{ task.name }}</td>
                    <td>{{ task.hostname }}</td>
                    <td>{{ task.source_table }} {{ task.source_query }}</td>
                    <td>{{ task.dest_table }} {{ task.dest_file }}</td>
                    <td>{% include "tasks/partials/saved-tasks-actions-column.html" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <span>No data</span>
{% endif %}
