<form id="new-periodic-task-form" method="post" action="/periodic/">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}"/>
</form>
<table id="scheduled-tasks-table">
    <thead>
    <tr>
        {% if page != "homepage" %}
        <th style="width: 250px;">Task</th>
        <th id="period-header">Period</th>
        <th id="start-time-header">Start Time</th>
        <th id="expires-header">Expires</th>
        <th id="last-run-at-header">Last Run At</th>
        <th style="width: 80px;">Runs</th>
        <th style="width: 100px;">Enabled</th>
        <th>Actions</th>
        {% else %}
        <th>Task</th>
        <th>Owner</th>
        <th>Period</th>
        <th>Last Run At</th>
        <th>Runs</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% set owner_paths = {
        "any": "/tasks",
        "archiver": "/archives",
        "alters": "/alters"
    } %}
    {% for periodic_task in periodic_tasks %}
        {% set task_name = periodic_task.task %}
        {% set task_owner_path = owner_paths.get(periodic_task.owner, periodic_task.owner) %}
        {% if page != "homepage" %}
            {% set task_path = "#" + task_name %}
        {% else %}
            {% set task_path = task_owner_path + "/" + task_name%}
        {% endif %}
        <tr{% if not periodic_task.enabled %} class="disabled-row"{% endif %}>
            <td>
                <a href="{{ task_path }}"
                   class="task-link">{{ task_name }}</a>
            </td>
            {% if page == "homepage" %}
            <td>{{ periodic_task.owner }}</td>
            {% endif %}
            {% if periodic_task.crontab %}
                <td class="period-cell period-crontab"
                    data-timezone="{{ periodic_task.crontab.timezone }}">
                    {% else %}
                <td class="period-cell">
            {% endif %}
            {{ periodic_task.period }}
            </td>
            {% if page != "homepage" %}
            <td>{{ periodic_task.start_time or '' }}</td>
            <td>{{ periodic_task.expires or '' }}</td>
            {% endif %}
            <td>{{ periodic_task.last_run_at or '' }}</td>
            <td>{{ periodic_task.total_run_count }}</td>
            {% if page != "homepage" %}
            <td>
                <form method="post" action="/periodic/{{ periodic_task.id }}/update"
                      class="enable-form">
                    <input type="hidden" name="csrf-token" value="{{ csrf_token }}"/>
                    <input type="hidden" name="enabled"
                           value="{% if periodic_task.enabled %}true{% else %}false{% endif %}">
                    <label class="switch">
                        <input type="checkbox" class="enable-checkbox"
                               data-task-id="{{ periodic_task.id }}"
                               {% if periodic_task.enabled %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                </form>
            </td>
            <td class="actions-cell flex">

                <form method="post" action="/periodic/{{ periodic_task.id }}/delete"
                      class="delete-form">
                    <input type="hidden" name="csrf-token" value="{{ csrf_token }}"/>
                    <button type="submit" class="delete-button icons" title="Delete">
                        delete forever
                    </button>
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}

    {% if page != "homepage" %}
    <!-- Row for new periodic task -->
    <tr class="new-periodic-task-row show-on-create-mode">
        <td>
            <select name="task" form="new-periodic-task-form">
                {% for task in tasks %}
                    <option value="{{ task.name }}">{{ task.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <div class="interval-inputs period-inputs">
                <input type="number" name="interval_every" min="1" placeholder="every n"
                       form="new-periodic-task-form" required>
                <select name="interval_period" form="new-periodic-task-form"
                        style="padding: 0.2em;">
                    <option value="days">days</option>
                    <option value="hours">hours</option>
                    <option value="minutes">minutes</option>
                </select>
            </div>
            <div class="cron-inputs hidden period-inputs">
                <div style="display: flex">
                    <input type="text" name="cron_expression" placeholder="*/5 * * * *"
                           form="new-periodic-task-form" disabled>
                    <select name="cron_timezone" form="new-periodic-task-form" disabled>
                        {% for timezone in AVAILABLE_TIMEZONES %}
                            <option value="{{ timezone }}">{{ timezone }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="cron-description"></div>
            </div>
            <a href="#" class="change-period-mode" style="font-size: 11px;">change to cron mode</a>
        </td>
        <td>
            <input type="hidden" form="new-periodic-task-form" name="start_time" class="date-value">
            <input type="datetime-local" class="start-time-input" title="Optional start time for the periodic task">
        </td>
        <td>
            <input type="hidden" form="new-periodic-task-form" name="expires" class="date-value">
            <input type="datetime-local" class="expires-input" title="Optional expiration time for the periodic task">
        </td>
        <td></td>
        <td>0</td>
        <td style="padding-left: 0.5em">
            <input type="hidden" form="new-periodic-task-form" name="enabled" value="true">
            <label class="switch">
                <input type="checkbox" class="new-periodic-task-enable-checkbox" checked>
                <span class="slider round"></span>
            </label>
        </td>
        <td class="actions-cell flex">
            <button type="submit" class="save-button icons" title="Save"
                    form="new-periodic-task-form">save
            </button>
            <button type="button" class="discard-button icons" title="Discard">
                remove
            </button>
        </td>
    </tr>
    <tr id="add-periodic-task-row" class="hide-on-create-mode">
        <td colspan="7"></td>
        <td class="actions-cell flex">
            <button id="add-periodic-task-button" title="Create new periodic task"
                    class="icons">add
            </button>
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
