<style>
    .hidden {
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
        opacity: 0;
        max-height: 0;
        pointer-events: none;
        display: none;
    }

    .visible {
        opacity: 1;
        max-height: 1000px;
        /* Large enough to show all content */
        pointer-events: auto;
        display: flex;
    }

    button {
        margin-top: 1em;
        margin-right: 1em;
    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
    }

    .checkbox-group label {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;
        margin-top: 0;
    }

    .checkbox-group input {
        margin-top: 0 !important;
    }

    fieldset+fieldset {
        margin: 1em 0;
    }
</style>
<form id="pbm" action="" method="post" class="{{ form_class }}">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    <legend>Main Options</legend>
    <fieldset>
        <legend>Executor Host</legend>
        {% set hostname_title = "Select the hostname of the target system for task execution." %}
        <label for="hostname" title="{{ hostname_title }}">Select Executor Host:</label>
        {% if executor_hosts|length == 1 %}
        {% set single_service = executor_hosts[0] %}
        <select id="hostname" name="hostname" title="{{ hostname_title }}" disabled>
            <option value="{{ single_service }}" selected>{{ single_service }}</option>
        </select>
        <input type="hidden" name="hostname" value="{{ single_service }}">
        {% else %}
        <select id="hostname" name="hostname" title="{{ hostname_title }}" required>
            <option value="" selected>Select a host</option>
            {% for executor_host in executor_hosts %}
            <option value="{{ executor_host }}">{{ executor_host }}</option>
            {%
            endfor %}
        </select>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Basic Task Information</legend>
        <br>
        {% set task_name_title = "Type the name of task to be created." %}
        <label for="task_name" title="{{ task_name_title }}">
            Task Name:
            <input type="text" id="task_name" name="task_name" class="validate" required
                placeholder="Enter a unique task name" />
        </label>
        <br>
        <br>
        {% set service_id_title = "Select the database host from the inventory to connect to." %}
        <label for="service_id" title="{{ service_id_title }}">
            Select a Database Host:
            <input type="text" id="service_id" name="service_id" value="1">
        </label>
        <br>
        <br>
        {% set backup_type_title = "Select the type of backup type: Logical/Physical/Config" %}
        <label for="backup_type" title="{{ backup_type_title }}">
            Backup Type:
            <select id="backup_type" name="backup_type" required>
                <option value="" disabled>Select a backup method</option>
                <option value="pbm_logical">Logical</option>
                <option value="pbm_physical">Physical</option>
                <option value="pbm_config">Configuration Change</option>
            </select>
        </label>
        <br>
        <br>
    </fieldset>
    {% include "backup_mongo/partials/pbm-config.html" %}
    <div style="display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 0.25em">
        <button class="contained large" type="submit">Create</button>
        <button class="text large" type="reset">Reset</button>
    </div>
</form>
<script type="text/javascript" nonce="{{ request.state.csp_nonce }}">

    const pbmInputName = 'pbm_config_payload';
    var backupTypeSelect = document.getElementById('backup_type');
    var form = document.getElementById('pbm');
    var pbmConfigDiv = document.getElementById('pbm_config');

    // Reads all form key starting with pbm_config, stringifies a json out of it inside hiddenInputName
    function populatePBMConfigAsHiddenJSON(formElement, hiddenInputName) {
        const pbmConfig = {};
        const formInputs = formElement.querySelectorAll('input, select, textarea');
        const hiddenInput = formElement.querySelector(`input[type="hidden"][name="${hiddenInputName}"]`);
        if (!hiddenInput) {
            console.error(`Hidden input with name "${hiddenInputName}" not found in the form.`);
            return;
        }

        formInputs.forEach(input => {
            if (input.name && input.name.startsWith('pbm_config')) {
                pbmConfig[input.name] = input.value;
            }
        });

        const pbmJSON = JSON.stringify(pbmConfig);
        hiddenInput.value = pbmJSON;
    }

    // Toggles PBM config container visibility
    backupTypeSelect.addEventListener('change', function () {
        if (this.value === 'pbm_config') {
            pbmConfigDiv.style.display = 'block';
            const pitrCheckboxInput = document.getElementById("pitr_checkbox_input");
            const pitrCheckmarkSpan = document.querySelector("#pitr_checkbox_input .material-symbols-outlined");
            // --- Event Listener for Changes ---
            pitrCheckboxInput.addEventListener("change", () => {
                if (pitrCheckboxInput.checked) {
                    // When the checkbox is checked
                    pitrCheckmarkSpan.classList.add('checked'); // Add 'checked' class for styling
                    pitrCheckmarkSpan.textContent = 'pitr_checkbox'; // Set the Material Symbols icon for "checked"
                } else {
                    // When the checkbox is unchecked
                    pitrCheckmarkSpan.classList.remove('checked'); // Remove 'checked' class
                    pitrCheckmarkSpan.textContent = ''; // Set the Material Symbols icon for "unchecked" (or empty)
                }
            });
        } else {
            pbmConfigDiv.style.display = 'none';
        }
    });

    form.addEventListener('submit', function (event) {
        populatePBMConfigAsHiddenJSON(pbmForm, pbmInputName);
        // The form will now submit with the 'pbm_config_payload' field containing the JSON string
    });
</script>