<style>

    .hidden {
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }

    .visible {
        opacity: 1;
        max-height: 1000px;
        /* Large enough to show all content */
        pointer-events: auto;
    }

    /* Smaller containers might have less content, adjust accordingly if needed */

    button {
        margin-top: 1em;
        margin-right: 1em;
    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
    }

    .checkbox-group label {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;
        margin-top: 0;
    }

    .checkbox-group input {
        margin-top: 0 !important;
    }

    fieldset + fieldset {
        margin: 1em 0;
    }
</style>
<form action="" method="post" class="{{ form_class }}">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    <legend>Main Options</legend>
    <fieldset>
        <legend>Executor Host</legend>
        {% set hostname_title = "Select the hostname of the target system for task execution." %}
        <label for="hostname" title="{{ hostname_title }}">Select Executor Host:</label>
        {% if executor_hosts|length == 1 %}
            {% set single_service = executor_hosts[0] %}
            <select id="hostname" name="hostname" title="{{ hostname_title }}" disabled>
                <option value="{{ single_service }}" selected>{{ single_service }}</option>
            </select>
            <input type="hidden" name="hostname" value="{{ single_service }}">
        {% else %}
            <select id="hostname" name="hostname" title="{{ hostname_title }}" required>
                <option value="" selected>Select a host</option>
                {% for executor_host in executor_hosts %}
                    <option value="{{ executor_host }}">{{ executor_host }}</option>
                    {%
                    endfor %}
                </select>
            {% endif %}
        </fieldset>
        <fieldset>
            <legend>Basic Task Information</legend>
            <br>
            {% set task_name_title = "Type the name of task to be created." %}
            <label for="task_name" title="{{ task_name_title }}">
                Task Name:
                <input type="text"
                       id="task_name"
                       name="task_name"
                       class="validate"
                       required
                       placeholder="Enter a unique task name" />
            </label>
            <br>
            <br>
            {% set service_id_title = "Select the database host from the inventory to connect to." %}
            <label for="service_id" title="{{ service_id_title }}">
                Select a Database Host:
                <select id="service_id" name="service_id" required>
                    <option value="" selected>Select a database host</option>
                    {% for service in mongodb_services %}
                        <option value="{{ service.id }}">{{ service.name }} ({{ service.node_id }})</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <br>
            {% set backup_type_title = "Select the type of backup type: Logical/Physical/Config" %}
            <label for="backup_type" title="{{ backup_type_title }}">
                Backup Type:
                <select id="backup_type" name="backup_type" required>
                    <option value="" disabled>Select a backup method</option>
                    <option value="pbm_logical">Logical</option>
                    <option value="pbm_physical">Physical</option>
                    <option value="pbm_config">Configuration Change</option>
                </select>
            </label>
            <br>
            <br>
        </fieldset>
        {# % include "backup_mongo/partials/pbm-config.html" % #}
        <div style="display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 0.25em">
            <button class="contained large" type="submit">Create</button>
            <button class="text large" type="reset">Reset</button>
        </div>
    </form>
    <script type="text/javascript" nonce="{{ request.state.csp_nonce }}">
    const backupTypeSelect = document.getElementById('backup_type');
    function updateBackupTaskVisibility() {
        s3Options.style.display = storageTypeSelect.value === 's3' ? 'block' : 'none';
        filesystemOptions.style.display = storageTypeSelect.value === 'filesystem' ? 'block' : 'none';
        azureOptions.style.display = storageTypeSelect.value === 'azure' ? 'block' : 'none';
    }


    const storageTypeSelect = document.getElementById('storage_type');
    const s3Options = document.getElementById('s3_options');
    const filesystemOptions = document.getElementById('filesystem_options');
    const azureOptions = document.getElementById('azure_options');
    const logOutputSelect = document.getElementById('log_output');
    const logFileOptions = document.getElementById('log_file_options');

    function updateStorageOptionsVisibility() {
        s3Options.style.display = storageTypeSelect.value === 's3' ? 'block' : 'none';
        filesystemOptions.style.display = storageTypeSelect.value === 'filesystem' ? 'block' : 'none';
        azureOptions.style.display = storageTypeSelect.value === 'azure' ? 'block' : 'none';
    }

    function updateLogFileOptionsVisibility() {
        logFileOptions.style.display = logOutputSelect.value === 'file' ? 'block' : 'none';
    }

    // storageTypeSelect.addEventListener('change', updateStorageOptionsVisibility);
    // logOutputSelect.addEventListener('change', updateLogFileOptionsVisibility);

    // Initial visibility
    // updateStorageOptionsVisibility();
    // updateLogFileOptionsVisibility();

    </script>
