<div id="pbm_config" style="display: none;">
    <fieldset>
        <legend>s3 storage options</legend>
        <div id="s3_options">
            <label>S3 Provider:
                <select id="s3_provider" name="pbm_config.storage.s3.provider">
                    <option value="aws">AWS</option>
                    <option value="minio">MinIO</option>
                    <option value="gcp">GCP</option>
                </select>
            </label>
            <label>Region: <input type="text" id="s3_region" name="s3_region"></label>
            <label>Bucket Name: <input type="text" id="s3_bucket" name="s3_bucket"></label>
            <label>Prefix (Optional): <input type="text" id="s3_prefix" name="s3_prefix"></label>
            <label>Endpoint URL (Optional): <input type="text" id="s3_endpoint_url" name="s3_endpoint_url"></label>
            <label>Upload Part Size (Bytes, Optional): <input type="number" id="s3_upload_part_size" name="s3_upload_part_size"></label>
            <label>Max Upload Parts (Optional): <input type="number" id="s3_max_upload_parts" name="s3_max_upload_parts"></label>
            <label>Storage Class (Optional): <input type="text" id="pbm_s3_storage_class" name="pbm_s3_storage_class"></label>
        </div>
    </fieldset>
    <fieldset>
        <legend>PITR Options</legend>
        <div class="checkbox-group">
            <label class="checkbox">
                <span class="label">PITR Enabled:</span>
                <input type="checkbox" id="pbm_pitr_enabled" name="pitr_enabled" checked>
                <input type="hidden" id="pbm_pitr_enabled_unchecked" name="pitr_enabled" value="false">
                <div class="checkmark" id="pitr_checkbox_div">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
            </label>
        </div>
        <label>Oplog Span (Minutes):
            <input type="number" id="pitr_oplog_span_min" name="pbm_config.pitr.oplog_span_min">
        </label>

        <label>Compression:
            <select id="pitr_compression" name="pbm_config.pitr.compression">
                <option value="gzip">gzip</option>
                <option value="snappy">snappy</option>
                <option value="lz4">lz4</option>
                <option value="s2">s2</option>
                <option value="pgzip">pgzip</option>
                <option value="zstd">zstd</option>
            </select>
        </label>

    </fieldset>
    <fieldset>
        <legend>Backup Options</legend>
        <label>Node Priority for Backup (Comma-separated, Optional):
            <input type="text" id="backup_priority" name="pbm_config.backup.priority">
        </label>

        <label>Backup Compression:
            <select id="pbm_backup_compression" name="backup_compression">
                <option value="gzip">gzip</option>
                <option value="snappy">snappy</option>
                <option value="lz4">lz4</option>
                <option value="s2">s2</option>
                <option value="pgzip">pgzip</option>
                <option value="zstd">zstd</option>
            </select>
        </label>

    </fieldset>
    <fieldset>
        <legend>Logging Options</legend>
        <label for="log_level"> Log Level:
            <select id="pbm_log_level" name="log_level">
                <option value="D">debug</option>
                <option value="I">info</option>
                <option value="W">warn</option>
                <option value="E">error</option>
            </select>
        </label>
        <label for="log_path"> Log Path:
            <input type="text" id="pbm_log_path" name="log_path">
        </label>
        <div class="checkbox-group">
            <label class="checkbox">
                <span class="label">Json Format:</span>
                <input type="checkbox" id="pbm_log_json" name="log_json" checked>
                <input type="hidden" id="pbm_log_json_unchecked" name="log_json_unchecked" value="false">
                <div class="checkmark" id="log_json_checkbox_div">
                    <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                    <span class="material-symbols-outlined checked">check_box</span>
                </div>
            </label>
        </div>
    </fieldset>
</div>