{% if tasks %}
    <table>
        <thead>
            <tr>
                <th style="width: 200px;">Name</th>
                <th>Host</th>
                <th style="width: 200px;">Type</th>
                <th style="width: 200px;">Upload</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr id="{{ task.name }}">
                    <td>{{ task.name }}</td>
                    <td>{{ task.host }} ({{ task.port }})</td>
                    <td>{{ task.backup_type }}</td>
                    <td>{{ task.upload }}</td>
                    {% include "tasks/partials/saved-tasks-actions-column.html" %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data</p>
{% endif %}
