{% extends "../base.html" %}

{% block title %}MySQL Backups{% end %}

{% block style %}
<link rel="stylesheet" href="/static/datatables/datatables.min.css" media="screen,projection" />
<style>
    label + input[type=text]{display: block}
    /*label:has(+ select){display: none}*/
    table form{display:inline-block}
    table button{width:2.2rem;height:2.2rem}
</style>
{% end %}

{% block behaviours_optimized_extra %}{% end %}

{% block main %}

{% set template_data = data.get("template_data", {}) %}
{% set hosts = template_data.get("hosts", []) %}
{% set backups = template_data.get("backups", []) %}
{% set history_tasks = template_data.get("history_tasks", []) %}
{% set xsrf_form_html = data.get("xsrf_form_html") %}
{% from tornado.escape import xhtml_unescape %}
{%
    set hint = {}
    hint["BACKUP_DIR"] = "Backup destination path."
    hint["LOGGING_DIR"] = "Backup logs path."
%}

{% for env in template_data.get("environments", []) %}
    <h2>Environment: {{ env }}</h2>
    <h3>Configured Backups</h3>
    {% for key, value in backups.items() %}
        <h4>Host: <a href="/mysql_backups/host/{{ key }}">{{ key }}</a></h4>
        {% for backup_host in value %}
            <p>+ {{ backup_host["task_name"] }}</p>
        {% end %}
    {% end %}
{% end %}

<br>

<h2>Create a new Backup</h2>
{% include "partials/create-form.html" %}

{% end %}
