{% if history_tasks is defined and history_tasks|length > 0 %}
<table class="responsive-table">
    <thead>
      <tr>
        <th style="width: 100px;">Status</th>
        <th>Started at</th>
        <th>Completed at</th>
        <th style="width: 200px;">Duration (<abbr>s</abbr>)</th>
        <th style="width: 150px;">Logs</th>
        <th>Errors</th>
      </tr>
    </thead>
    <tbody>
    {% for h in history_tasks %}
        {% if h['status'] in ['success', 'failed'] %}
    <tr>
      <td>
        {% if h['status'] == 'success' %}
        <i class="icons">done</i>
        {% else %}
        <i class="icons">error</i>
        {% endif %}
      </td>
      <td>{{ h['execution_request']['tracking']['started_at'] }}</td>
      <td>{{ h['execution_request']['tracking']['finished_at'] }}</td>
      <td>{{ h['execution_request']['tracking']['duration']|round(3) }}</td>
      <td>
        <button class="logs-button icons" data-log-id="{{ loop.index0 }}">visibility</button>
      </td>
      <td>
        {% if h['status'] != 'success' %}
        <ul>
          {% for message in h['errors'] %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% else %}
        None
        {% endif %}
      </td>
    </tr>
    <tr class="log-row" data-log-id="{{ loop.index0 }}" style="display:none;">
      <td colspan="6">
        <div class="log-console">
          <div class="log-top-bar">
            <div class="log-tabs">
              <a href="#" class="log-type-tab selected" data-log-type="stdout">stdout</a>
              <a href="#" class="log-type-tab" data-log-type="stderr">stderr</a>
            </div>
            <div class="word-wrap-toggle">
              <label class="switch">
                <input type="checkbox" class="word-wrap-checkbox">
                <span class="slider round"></span>
              </label>
              <span class="toggle-label">Word Wrap</span>
            </div>
          </div>
          <div class="log-content">
            {% for step_name, logs in h.execution_request.tracking.task_logs.items() %}
              <div class="log-step-content" data-step-name="{{ step_name }}" {% if loop.first %}style="display:block;"{% else %}style="display:none;"{% endif %}>
                <pre class="log-output" data-log-type="stdout" {% if loop.first %}style="display:block;"{% else %}style="display:none;"{% endif %}>{{ logs.stdout|e }}</pre>
                <pre class="log-output" data-log-type="stderr" style="display:none;">{{ logs.stderr|e }}</pre>
              </div>
            {% endfor %}
          </div>
          <div class="log-bottom-bar">
            <div class="log-tabs">
              {% for step_name in h.execution_request.tracking.task_logs.keys() %}
              <a href="#" class="log-step-tab {% if loop.first %}selected{% endif %}" data-step-name="{{ step_name }}">{{ step_name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </td>
    </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data</p>
{% endif %}
