{% if history_tasks is defined and history_tasks|length > 0 %}
    <table data-table="completed-tasks">
        <thead>
            <tr>
                <th aria-label="Click to sort alphanumerically" data-tooltip="1000">Name</th>
                <th data-sortable="false" data-searchable="false">Status</th>
                <th aria-label="Click to sort alphanumerically" data-tooltip="1000">Started at</th>
                <th aria-label="Click to sort alphanumerically" data-tooltip="1000">Completed at</th>
                <th class="number"
                    aria-label="Click to sort alphanumerically"
                    data-tooltip="1000">Duration (s)</th>
                <th>Executed by</th>
                <th class="options" data-sortable="false" data-searchable="false">View logs</th>
            </tr>
        </thead>
        <tbody>
            {% for task_history in history_tasks %}
                {%- set task_logs = task_history.execution_request.tracking.task_logs or False -%}
                {% if task_history.status in ['success', 'failed', 'stopped', 'lost'] %}
                    <tr>
                        <td>{{ task_history.task.name }}</td>
                        <td class="status">
                            {% if task_history.status == 'success' %}
                                <div class="success">
                                    <span class="badge material-symbols-outlined">check</span>
                                    <span class="label">Done</span>
                                </div>
                            {% elif task_history.status == 'stopped' %}
                                <div class="stopped">
                                    <span class="badge material-symbols-outlined">cancel</span>
                                    <span class="label">Stopped</span>
                                </div>
                            {% elif task_history.status == 'lost' %}
                                <div class="lost">
                                    <span class="badge material-symbols-outlined">question_mark</span>
                                    <span class="label">Lost</span>
                                </div>
                            {% else %}
                                <div class="error">
                                    <span class="badge material-symbols-outlined">report</span>
                                    <span class="label">Failed</span>
                                </div>
                            {% endif %}
                        </td>
                        <td class="relativeTime code">{{ task_history.started_at }}</td>
                        <td class="relativeTime code">{{ task_history.finished_at }}</td>
                        <td class="number code">{{ task_history.duration }}</td>
                        <td>{{ user_id_to_username.get(task_history.executed_by, task_history.executed_by) or '' }}</td>
                        <td class="options">
                            {%- if task_logs %}
                                <button type="button"
                                        class="icon medium view-logs-button"
                                        data-task="{{ task_history.task.name }}"
                                        aria-label="View logs"
                                        data-tooltip
                                        data-modal="trigger"
                                        data-modal-target="modal-{{ task_history.id }}"
                                        data-task-id="{{ task_history.id }}">
                                    <span class="material-symbols-outlined">visibility</span>
                                </button>
                                <section>
                                    <dialog id="modal-{{ task_history.id }}"
                                            aria-modal="true"
                                            aria-labelledby="modal-title-{{ task_history.task.name }}-{{ loop.index }}"
                                            data-modal="target"
                                            class="fullwidth modal-log tabs-wrapper">
                                        <div class="window log-console streaming-console"
                                             data-task-id="{{ task_history.id }}">
                                            <header>
                                                <h3 id="modal-title-{{ task_history.task.name }}-{{ loop.index }}"
                                                    class="h5 title">Logs for {{ task_history.task.name }}</h3>
                                                <div class="log-header">
                                                    <nav class="tabs" role="tablist" aria-label="Choose the output format">
                                                        <label class="checkbox">
                                                            <input type="checkbox" data-soft-wrap="trigger">
                                                            <div class="checkmark">
                                                                <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                                                                <span class="material-symbols-outlined checked">check_box</span>
                                                            </div>
                                                            <span class="label">Soft wrap</span>
                                                        </label>
                                                        <button id="tab-stdout-{{ task_history.id }}"
                                                                class="large"
                                                                role="log-tab"
                                                                aria-controls="log-stdout-{{ task_history.id }}"
                                                                aria-selected="true">
                                                            <span class="label">Output</span>
                                                        </button>
                                                        <button id="tab-stderr-{{ task_history.id }}"
                                                                class="large"
                                                                role="log-tab"
                                                                aria-controls="log-stderr-{{ task_history.id }}"
                                                                aria-selected="false">
                                                            <span class="label">Error</span>
                                                        </button>
                                                    </nav>
                                                </div>
                                            </header>
                                            <section class="log-content terminal" data-theme="dark">
                                            </section>
                                            <footer class="log-footer">
                                                <div class="log-tabs"></div>
                                                <button type="button" class="text large" data-modal-close>
                                                    Close<sup>ESC</sup>
                                                </button>
                                            </footer>
                                        </div>
                                    </dialog>
                                </section>
                            {%- endif -%}
                            {%- if task_history.available_files -%}
                                <button type="button"
                                        class="icon medium view-files-button"
                                        aria-label="View & download files"
                                        data-tooltip
                                        data-modal="trigger"
                                        data-modal-target="modal-files-{{ task_history.id }}"
                                        data-task-id="{{ task_history.id }}">
                                    <span class="material-symbols-outlined">download</span>
                                </button>
                                <section>
                                    <dialog id="modal-files-{{ task_history.id }}"
                                            aria-modal="true"
                                            aria-labelledby="modal-files-title-{{ task_history.id }}"
                                            class="fullwidth modal-files">
                                        <div class="window">
                                            <header>
                                                <h3 id="modal-files-title-{{ task_history.id }}" class="h5 title">Files for {{ task_history.task.name }}</h3>
                                            </header>
                                            <section class="files-list">
                                                <table class="files-table">
                                                    <thead>
                                                        <tr>
                                                            <th>File</th>
                                                            <th class="number">Size</th>
                                                            <th class="options">Download</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for filename, size in task_history.available_files.items() %}
                                                            <tr data-task-id="{{ task_history.id }}"
                                                                data-file-name="{{ filename }}"
                                                                data-file-size="{{ size }}">
                                                                <td class="file-name code">{{ filename }}</td>
                                                                <td class="file-size number code">{{ size }}</td>
                                                                <td class="options">
                                                                    <button type="button"
                                                                            class="icon medium download-file-button"
                                                                            aria-label="Download {{ filename }}">
                                                                        <span class="material-symbols-outlined">file_download</span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </section>
                                            <footer>
                                                <button type="button" class="text large" data-modal-close>
                                                    Close<sup>ESC</sup>
                                                </button>
                                            </footer>
                                        </div>
                                    </dialog>
                                </section>
                            {%- endif -%}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <span>No data</span>
{% endif %}
