{% from tornado.escape import xhtml_unescape %}
{% from sep.tasks.api.models import TASK_ALIAS_LENGTH, TASK_BACKEND_MAP %}
<h2>Create a new task</h2>
<form action="" method="post">
    <fieldset>
        <legend>Enter a new task definition</legend>
        <div>
            <label>Alias
                <input id="taskalias" name="taskalias" maxlength="{{ TASK_ALIAS_LENGTH }}" size="20" />
            </label>
        </div>
        <label>Definition
            <textarea id="taskdef" name="taskdef" rows="40" cols="80"></textarea>
        </label>
        <fieldset>
            <legend>Format</legend>
            {% if "nomad" in TASK_BACKEND_MAP %}
            <label title="Nomad-only">HCL
                <input type="radio" id="format-hcl" name="format" value="hcl" />
            </label>
            {% end %}
            <label>JSON
                <input type="radio" id="format-json" name="format" value="json" />
            </label>
            <label>YAML
                <input type="radio" id="format-yaml" name="format" value="yaml" checked />
            </label>
        </fieldset>
        <label>Engine
            <select id="taskeng" name="taskeng">
            {% for engine, val in TASK_BACKEND_MAP.items() %}
                <option value="{{ val }}">{{ engine.capitalize() }}</option>
            {% end %}
            </select>
        </label>
    </fieldset>
    <button type="submit" title="Add a new task">Create</button>
    {% apply xhtml_unescape %}
    {{ xsrf_form_html() }}
    {% end %}
</form>