<h2>Create a new task</h2>
<form action="" method="post">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    <fieldset>
        <legend>Enter a new task definition</legend>
        <br>
        <div>
            <label>
                Alias
                <input id="name" name="name" maxlength="100" size="20" required>
            </label>
        </div>
        <br>
        <label>
            Definition
            <br>
            <textarea id="payload" name="payload" rows="40" cols="80" required></textarea>
        </label>
        <br>
        <br>
        <fieldset>
            <legend>Format</legend>
            <label title="Nomad-only">
                HCL
                <input type="radio" id="format-hcl" name="fmt" value="hcl">
            </label>
            <label>
                JSON
                <input type="radio" id="format-json" name="fmt" value="json" checked>
            </label>
            <label>
                YAML
                <input type="radio" id="format-yaml" name="fmt" value="yaml">
            </label>
        </fieldset>
        <br>
        <div class="input select">
            <label>
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Engine</span>
                <select id="backend" name="backend" required>
                    {% for backend in available_backends %}<option value="{{ backend }}">{{ backend.capitalize() }}</option>{% endfor %}
                </select>
            </label>
        </div>
        <div class="input select">
            <label>
                <span class="material-symbols-outlined">arrow_drop_down</span>
                <span class="label">Owner</span>
                <select id="owner" name="owner" required>
                    {% for owner in available_owners %}
                        <option value="{{ owner }}" {% if loop.first %}selected{% endif %}>{{ owner.name.capitalize() }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </fieldset>
    <br>
    <button class="contained large" type="submit" title="Add a new task">Create</button>
</form>
