<h2>Create a new task</h2>
<form action="" method="post">
    <fieldset>
        <legend>Enter a new task definition</legend>
        <div>
            <label>Alias
                <input id="name" name="name" maxlength="100" size="20" required>
            </label>
        </div>
        <label>Definition
            <textarea id="payload" name="payload" rows="40" cols="80" required></textarea>
        </label>
        <fieldset>
            <legend>Format</legend>
            <label title="Nomad-only">HCL
                <input type="radio" id="format-hcl" name="fmt" value="hcl">
            </label>
            <label>JSON
                <input type="radio" id="format-json" name="fmt" value="json" checked>
            </label>
            <label>YAML
                <input type="radio" id="format-yaml" name="fmt" value="yaml">
            </label>
        </fieldset>
        <label>Engine
            <select id="backend" name="backend" required>
                {% for backend in available_backends %}
                <option value="{{ backend }}">{{ backend.capitalize() }}</option>
                {% endfor %}
            </select>
        </label>
        <label>Owner
            <select id="owner" name="owner" required>
                {% for owner, label in available_owners.items() %}
                <option value="{{ owner }}" {% if loop.first %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </label>
    </fieldset>
    <button type="submit" title="Add a new task">Create</button>
</form>