<section id="targets">
    <h2>Targets
        {% if executor_hosts %}
            ({{ executor_hosts | length }})
        {% else %}
            (None)
        {% endif %}
    </h2>
    <div class="targets-container">
        <table class="targets-table">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Address</th>
                </tr>
                {% if executor_hosts %}
                {% for ip, targetname in executor_hosts %}
                    <tr>
                        <td>{{ ip }}</td>
                        <td>{{ targetname }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" class="no-tasks">No targets available.</td>
                    </tr>
                {% endif %}
            </thead>
        </table>
    </div>
</section>
