<section id="hosts">
    <h2>Hosts
        {% if executor_hosts %}
            ({{ executor_hosts | length }})
        {% else %}
            (None)
        {% endif %}
    </h2>
    <div class="hosts-container">
        {% if executor_hosts %}
            {% for ip, hostname in executor_hosts %}
                <div class="host">{{ ip }} - {{ hostname }}</div>
            {% endfor %}
        {% else %}
            <div class="host">No hosts available.</div>
        {% endif %}
    </div>
</section>
