<fieldset class="entity-fieldset">
    <legend style="margin-bottom: 0.8em;">Mask options</legend>
        <input type="hidden" id="anonymize" name="anonymize" value="0">
        <div>
            <div>
                <label class="checkbox" for="encrypt_all_entities">
                    <input type="checkbox" id="encrypt_all_entities">
                    <div class="checkmark">
                        <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                        <span class="material-symbols-outlined checked">check_box</span>
                    </div>
                    <span class="label">Encrypt All Entities</span>
                </label>
            </div>
            <br />
            <div class="checkbox-group">
                {% for key, value in entities.items() %}
                <label class="checkbox" for="encrypt_{{ key }}">
                    <input class="entity-encrypt-checkbox" type="checkbox" id="encrypt_{{ key }}" name="encrypt_{{ key }}" value="{{ value }}"/>
                    <div class="checkmark">
                        <span class="material-symbols-outlined unchecked">check_box_outline_blank</span>
                        <span class="material-symbols-outlined checked">check_box</span>
                    </div>
                    <span class="label">{{ key.replace('_', ' ').title() }}</span>
                </label>
                {% endfor %}
            </div>
        </div>
</fieldset>
