<form method="post" action="" id="{{ task.name }}-send" class="send-form"
    data-confirm-message="Are you sure you want to execute this one?"
    style="padding: 20px; flex-direction: column; align-items: start;">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
    {% if task_data.get("ParameterizedJob") %}
    <fieldset style="width: 90%;">
        <legend style="font-size: 1.5em; font-weight: bold; color: #333;">
            Configuration
        </legend>
        {% if task_data.ParameterizedJob %}
        {% set optional = task_data.ParameterizedJob.get("MetaOptional", []) %}
        {% set required = task_data.ParameterizedJob.get("MetaRequired", []) %}
        {% else %}
        {% set optional = [] %}
        {% set required = [] %}
        {% endif %}
        {% set meta_defaults = task_data.get("Meta",{}) %}
        {% for item in required %}
        <div style="margin-bottom: 15px;">
            <label for="meta_{{ item }}" class="form-label">{{ item.capitalize() }}
                (required)</label>
            {% if item == "target" %}
            {% include "tasks/partials/select-host.html" %}
            {% else %}
            <input type="text" name="meta_{{ item }}" id="meta_{{ item }}" value="{{ meta_defaults[item] }}" required
                class="form-input">
            {% endif %}
        </div>
        {% endfor %}
        {% for item in optional %}
        <div style="margin-bottom: 15px;">
            <label for="meta_{{ item }}" class="form-label">{{ item.capitalize() }}</label>
            {% if item == "target" %}
            {% include "tasks/partials/select-host.html" %}
            {% else %}
            <input type="text" name="meta_{{ item }}" id="meta_{{ item }}" value="{{ meta_defaults.get(item, '') }}"
                class="form-input">
            {% endif %}
        </div>
        {% endfor %}
        {% set nomad_payload_rule = task_data["ParameterizedJob"].get("Payload", "optional") %}
        {% if nomad_payload_rule in ["optional", "required"] %}
        <div style="margin-bottom: 20px;">
            <label for="payload" class="form-label">Payload
                {% if nomad_payload_rule == "required" %}
                (required){% endif %}</label>
            <textarea name="payload" id="payload" cols="80" rows="30" {% if nomad_payload_rule=="required" %} required{%
                endif %} class="form-input"></textarea>
        </div>
        {% endif %}
    </fieldset>
    {% endif %}
    <div class="actions-cell flex">
        <button title="Toggle scheduler mode" type="button" class="icons schedule-button" data-task="{{ task.name }}"
            aria-expanded="false">schedule
        </button>
        <button type="submit" class="icons send-button submitButton">send</button>
        {% if not task.protected %}
        <button class="icons delete-button submitButton delete-tasks-button" form="delete-form">delete forever</button>
        {% endif %}
        <input type="datetime-local" class="eta-input"
               disabled>
        <input type="hidden" name="eta" class="eta-value" disabled>
    </div>
</form>
