<td class="actions-cell flex">
    <button title="Toggle scheduler mode"
            type="button"
            class="schedule-button icons"
            data-task="{{ task.name }}"
            aria-expanded="false">schedule</button>
    <form id="{{ task.name }}-send"
          class="send-form confirmable-form"
          method="post"
          action="{{ task.name }}"
          data-confirm-message='Are you sure you want to execute task "{{ task.name }}" now?'>
        <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
        <input type="datetime-local" class="eta-input" disabled>
        <input type="hidden" name="eta" class="eta-value" disabled>
        <button title="Execute" type="submit" class="icons send-button submitButton">send</button>
    </form>
    <div class="info-delete-container">
        <form id="{{ task.name }}-info" method="get" action="{{ task.name }}">
            <button title="Detail" class="icons info-button">info</button>
        </form>
        <form id="{{ task.name }}-delete"
              method="post"
              class="confirmable-form"
              data-confirm-message='Are you sure you want to delete task "{{ task.name }}"?'
              action="{{ task.name }}/delete">
            <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
            <button title="Delete" type="submit" class="icons delete-button submitButton">delete forever</button>
        </form>
    </div>
</td>
