<form id="schedulerForm" method="post" action="/schedule/{{ task['name'] }}">
    {% if not required %}
    <input name="meta_" type="hidden"/>
    <input name="payload" type="hidden"/>
    {% endif %}
    {% include "tasks/partials/scheduler-inputs.html" %}
</form>

<script nonce="{{ request.state.csp_nonce }}">
    document.getElementById("schedulerForm").addEventListener("submit", (event) => {
        const isBasicMode =
            document.getElementById("BasicContainer").style.display !== "none";
        if (isBasicMode) validateBasicInput();
        else validateCronExpression();

        if (isBasicMode && !frequencyInput.checkValidity()) {
            alert("Please correct errors in Basic Mode before scheduling.");
        } else if (!isBasicMode && !cronInput.checkValidity()) {
            document.getElementById("BasicContainer").style.display = "none";
            document.getElementById("AdvancedContainer").style.display = "block";
            cronInput.focus();
            event.preventDefault();
            alert("Please correct errors in Advanced Mode before scheduling.");
        } else {
            alert("Cron job scheduled with expression: " + cronInput.value);
        }
    });
</script>
