{% if executor_hosts|length == 1 %}
    {% set single_host = executor_hosts[0] %}
<select id="meta_{{ item }}" name="meta_{{ item }}" disabled>
    <option value="{{ single_host }}" selected>{{ single_host }}</option>
</select>
<input type="hidden" name="meta_{{ item }}" value="{{ single_host }}">
{% else %}
<select id="meta_{{ item }}" name="meta_{{ item }}">
    {% for executor_host in executor_hosts %}
    <option value="{{ executor_host }}">{{ executor_host }}</option>
    {% endfor %}
</select>
{% endif %}