{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block main %}
<p>Manage the configuration, execution and reporting with the task manager.</p>
<h2>Available tasks</h2>
<table>
  <caption>Tasks available for reuse</caption>
  <thead>
    <tr>
        <th>Task</th>
        <th>Engine</th>
        <th>Created</th>
    </tr>
  </thead>
  <tfoot>
    <tr><td colspan="3"></td></tr>
  </tfoot>
  <tbody>
  {% for task in tasks %}
  <tr>
    <th><a href="{{ base_uri }}/tasks/{{ task['name'] }}">{{ task["name"] }}</a></th>
    <td>{{ task["backend"].capitalize() }}</td>
    <td>{{ task["created_at"] }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
    {% include "tasks/partials/create-form.html" %}
{% endblock %}
