{% extends "base.html" %}

{% block style %}
<style>
    .form-label {
        display: block;
        font-weight: bold;
        color: #555;
        margin-bottom: 5px;
    }

    .form-input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<link rel="stylesheet" href="/static/task_history.css">
{% endblock %}

{% block behaviours_optimized_extra %}
    {% if history %}
<script src="/static/task_history.js"></script>
    {% endif %}
{% endblock %}


{% block title %}Task: {{ task.get("name") }}{% endblock %}

{## TODO: the template is currently Nomad-specific#}
{# TODO: Adjust indentation of all templates #}
{% block main %}

<dl>
    <dt>Engine</dt>
    <dd>{{ Nomad }}</dd>
    <dt>Created</dt>
    <dd>{{ task["created_at"] }}</dd>
    <dt>Specification</dt>
    <dd>
        <code>
        {{ task }}
    </code>
    </dd>
    <dt>Available to</dt>
    <dd>
        <ul>
            <li>{{ available_owners.get(task.owner or "*", task.owner)}}</li>
        </ul>
    </dd>
</dl>

{% if not task["is_template"] %}
{% include "tasks/partials/run-python-form.html" %}
{% endif %}

{% if not task["protected"] %}
<form method="post" action="/tasks/{{ task['name'] }}/trigger">
    <button type="submit">Trigger</button>
    <input type="datetime-local" id="trigger_time" name="trigger_time">
</form>

{% include "tasks/partials/scheduler-form.html" %}

<form method="post" action="/tasks/{{ task['name'] }}/delete">
    <button type="submit">Delete</button>
</form>
{% endif %}

<section>
  <h2>History</h2>
  {% set history_tasks = history %}
  {% include "tasks/partials/completed-tasks.html" %}
</section>
<script>
    const now = new Date();
    const year = now.getFullYear();
    const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are 0-based
    const day = String(now.getDate()).padStart(2, '0');
    const hours = String(now.getHours()).padStart(2, '0');
    const minutes = String(now.getMinutes()).padStart(2, '0');

    // Format the date and time as yyyy-MM-ddTHH:mm (required format for datetime-local)
    const currentDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;

    // Set the min attribute to prevent selecting a past date/time
    const trigger = document.getElementById('trigger_time');

    if (trigger) trigger.setAttribute('min', currentDateTime);

</script>
{% endblock %}
