{% extends "../base.html" %}
{% block title %}Task: {{ data["name"] }}{% end %}

{% block main %}
<dl>
  <dt>Engine</dt> <dd>{{ backends[data["backend"]].capitalize() }}</dd>
  <dt>Created</dt> <dd>{{ data["created_at"] }}</dd>
  <dt>Specification</dt> <dd>
  <code>
    {{ data["data"] }}
  </code>
  </dd>
</dl>
{% if data.get("hosts") %}
<form method="post" action="{{ base_uri }}/execute/{{ data['name'] }}">
  <input name="task" type="hidden" value="{{ data['name'] }}" />
  <select name="host">
    {% for host in data["hosts"] %}
    <option>{{ host["name"] }} ({{ host["node_id"] }})</option>
    {% end %}
  </select>
  <button type="submit">Execute</button>
</form>
{% end %}
<p><a href="{{ base_uri }}">Back to tasks</a></p>
{% end %}